.barra-S {
    background-color: white;
}

.imagen-nombre-S {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.img-flecha {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.img-s {
    width: 45px;
    height: auto;
    position: absolute;
    right: 0;
    top: 4%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    .imagen-nombre-S {
        font-size: 20px;
    }

    .img-flecha {
        width: 30px;
        margin-right: 0;

    }

    .img-s {
        width: 25px;
    }
}


/**/

.cuerpo-viajero-S {
    background-image: url(../../../../../../assets/viajeros-img/elecciones/fondo-multipleChoice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    margin-bottom: 0;

    padding-top: 10rem;

}


/*EJERCICIOS*/
.cuerpo-MCV {
    background-color: rgba(255, 255, 255, 0.849);
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    max-width: 600px;
    margin: auto;

    padding: 3rem;
    border-radius: 20px;
}

.titulo {
    font-size: 2.5rem;
    margin-left: 2rem;
}

.ejercicio {
    font-size: 2rem;
    list-style-type: none;
    text-align: left;
}

/* Estilo para el botón */
button {
    background-color: #000000a8;
    color: white;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;

    border-radius: 50px;
    margin-top: 3rem;
    padding: 12px;
}

/* Cambia el color de fondo al pasar el ratón sobre el botón */
button:hover {
    background-color: #171718;
}

/* Cambia el color de fondo al hacer clic en el botón */
button:active {
    background-color: #E5B9F1;
}

.boton-intentar{
    background-color: rgb(206, 80, 80);
    color: white;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;

    border-radius: 50px;
    margin-top: 3rem;
    padding: 12px;
}
.boton-intentar:hover {
    background-color: rgb(224, 24, 24);
}
.boton-intentar:active {
    background-color: rgb(224, 24, 24);
}


.boton-siguiente{
    background-color: #25a021a8;
    color: white;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;

    border-radius: 50px;
    margin-top: 3rem;
    padding: 12px;
}
.boton-siguiente:hover{
    background-color: #146d11a8;
}
.boton-siguiente:active{
    background-color: #146d11a8;
}

.cuerpo-mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emoticones {
    margin-top: 3vw;
    font-size: 5vw;
}

.mensaje {
    margin: 0;
    margin-bottom: 5vw;
    font-size: 3vw;
    text-shadow: #E5B9F1;
    color: black;

    font-family: "Public Sans", sans-serif;
}

.vocabulario {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 5rem;
    padding: 1rem;
}


.boton-vocabulario {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;

    background-color: white;
    color: black;

    margin-top: 2.3rem;
    padding: 0.9rem;
    margin-left: -2.4rem;
    border-radius: 1rem;

    font-family: "Public Sans", sans-serif;
}

.vocabulario img {
    width: 15%;
    max-width: 60px;
    border-radius: 1rem;
    margin-right: 1rem;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .vocabulario {
        flex-direction: column;
        align-items: center;
    }

    .boton-vocabulario {
        margin-left: 0;
        margin-top: 1rem;
    }

    .vocabulario img {
        width: 25%;
        margin-right: 0;
    }
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
    .vocabulario img {
        width: 35%;
    }

    .boton-vocabulario {
        font-size: 14px;
        padding: 0.7rem;
    }
}