<section class="cuerpo-viajero-R">

    <nav class="barra-R">
        <div class="imagen-nombre-R">
            <a routerLink="/viajeros-home"> <img src="../../../../assets/logoChiquito-viajero.png" alt="Logo" width="30"
                    height="24"></a>
            <span> Multiple choice - vocabulario </span>
        </div>
    </nav>

    <div class="cuerpo-MCV" *ngIf="mostrarCuestionario">
        <p class="titulo">{{ ejerciciosRestaurante[oracionActual].oracion }}</p>

        <ul class="ejercicio">
            <li *ngFor="let respuesta of ejerciciosRestaurante[oracionActual].respuestas; let i = index">
                <label>
                    <input type="radio" [(ngModel)]="respuestaSeleccionada" [value]="respuesta"
                        [disabled]="respuestaCorrecta !== ''">
                    {{ respuesta }}
                    <span
                        *ngIf="respuestaCorrecta === 'correcta' && respuesta === ejerciciosRestaurante[oracionActual].respuestaCorrecta"
                        style="color: green;">✔</span>
                    <span *ngIf="respuestaCorrecta === 'incorrecta' && respuesta === respuestaSeleccionada"
                        style="color: red;">✘</span>
                </label>
            </li>
        </ul>

        <button (click)="verificarRespuesta()">Verificar respuesta</button>
        <button *ngIf="intentos > 0 && respuestaCorrecta === 'incorrecta'" (click)="resetearEstado()">Intentar de
            nuevo</button>
        <button *ngIf="mostrarBoton" (click)="siguientePregunta() ">Siguiente pregunta</button>
    </div>

    <div class="cuerpo-mensaje" *ngIf="!mostrarCuestionario">
        <p class="emoticones">🍔 😊 👏</p>
        <p class="mensaje">¡Fin del cuestionario!</p>
        <button routerLink="/restaurante-home">Volver a Restaurante</button>
    </div>
   

</section>
