<section class="cuerpo-nivel-basico">
    <nav class="barra-NB">
        <div class="imagen-nombre-NB">
            <a routerLink="/gramatica-home"> <img src="../../../../assets/logoChiquito-gramatica.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Básico: Ejercicios</span>
        </div>
    </nav>

    <div class="contenedor-cuadrados">

        <fieldset class="cuadrado">
    
            <legend>Reescribir</legend>
            
            <div class="descripcion">Aquí encontrarás ejercicios donde tendrás que reescribir oraciones en diferentes modos</div>
    
            <a routerLink="/reescribir-ejercicio">
                <button class="boton-entrar" >ENTRAR</button>
            </a>
        </fieldset>

        
    
        <fieldset class="cuadrado">
    
            <legend>Completar</legend>
            <div class="descripcion">Aquí encontrarás ejercicios donde tendrás que completar la palabra faltante</div>

    
            <a routerLink="/completar-ejercicio">
                <button class="boton-entrar" >ENTRAR</button>
            </a>
        </fieldset>
    
        <fieldset class="cuadrado">
    
            <legend>Ordenar</legend>
            <div class="descripcion">Aquí encontrarás ejercicios donde tendrás que reescribir oraciones ordenando sus palabras</div>
            
            <a routerLink="/ordenar-ejercicio">
                <button class="boton-entrar">ENTRAR</button>
            </a>
        </fieldset>
    
    </div>
</section>




    