<section class="cuerpo-gramatica">
    
    <nav class="barra-N-B">
        <div class="imagen-nombre-N-B">
            <a routerLink="/gramatica-home"> <img src="../../../../assets/logoChiquito-Juego.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Ejercicios</span>
        </div>
    </nav>

    <div class="contenedor-cuadrados">
        <fieldset class="cuadrado">

            <legend>Reescribir oraciones</legend>
            <section class="#">
                <img src="#" alt="">
            </section>

            <a routerLink="/reescribir-ejercicio">
                <button class="boton-entrar">ENTRAR</button>
            </a>

        </fieldset>

        <fieldset class="cuadrado">

            <legend>Completar oraciones</legend>
            <section class="#">
                <img src="#" alt="">
            </section>

            <a routerLink="/completar-ejercicio">
                <button class="boton-entrar">ENTRAR</button>
            </a>

        </fieldset>

        <fieldset class="cuadrado">

            <legend>Ordenar oraciones</legend>
            <section class="#">
                <img src="#" alt="">
            </section>

            <a routerLink="/ordenar-ejercicio">
                <button class="boton-entrar">ENTRAR</button>
            </a>
        </fieldset>
    </div>
</section>