.contenedor-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.contenedor-categorias h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

.lista-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 10rem;
}

.categoria{
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0 1rem;
}

.categoria img.img-normal{
    max-width: 15rem;
}
.categoria:hover img.img-normal{
    display:none;
}
.categoria img.img-hover{
    display:none;
}
.categoria:hover img.img-hover{
    display:inline-block;
    max-width: 15rem;
}

.categoria h3{
    font-size: 2rem;
    margin-top: 1rem;
}