<section class="contenedor-categorias">

    <section class="texto">

        <p class="tres"> Tenemos tres secciones: </p>
        
        <p> <span class="personalizado-JUEGOS">JUEGOS </span>
            te ayudará a aprender palabras básicas en inglés de una forma interactiva.</p>

        <p> <span class="personalizado-VIAJEROS">VIAJEROS </span>
            te ofrecemos tres situaciones posibles e intentamos darte las herramientas para poder desenvolverte en ese
            momento.</p>

        <p> <span class="personalizado-GRAMATICA">GRAMÁTICA </span>
            contiene ejercicios en tres niveles enfocado en los tiempos verbales.</p>

    </section>

    <section class="lista-categorias">

        <div class="boton">
            <a routerLink="/juegos/juegos-home">
                <img src="../../../../assets/home-img/botones/boton-juegos.png" alt="juegos">
            </a>
        </div>

        <div class="boton">
            <a routerLink="/viajeros/viajeros-home">
                <img src="../../../../assets/home-img/botones/boton-viajeros.png" alt="viajeros">
            </a>
        </div>

        <div class="boton">
            <a routerLink="/gramaticas/gramatica-home">
                <img src="../../../../assets/home-img/botones/boton-gramatica.png" alt="gramatica">
            </a>
        </div>

    </section>




</section>