<section class="contenedor-categorias">

    <div class="lista-categorias">

        <a routerLink="/juegos/juegos-home">
            <img src="../../../../assets/home-img/botones/boton-juegos.png" alt="juegos">

        </a>

        <a routerLink="/viajeros/viajeros-home">
            <img src="../../../../assets/home-img/botones/boton-viajeros.png" alt="viajeros">

        </a>

        <a routerLink="/gramaticas/gramatica-home">
            <img src="../../../../assets/home-img/botones/boton-gramatica.png" alt="gramatica">
        </a>

    </div>
</section>