<section class="contenedor-categorias">

    <div class="lista-categorias">
        
        <a class="categoria1" routerLink="/juegos/juegos-home">
            <img class="img-normal" src="../../../assets/logo-juego.png" alt="juegos">
            <!-- <img class="img-hover" src="../../../../assets/logo-juego-hover.png" alt="juegos"> -->
            <h3>Juegos</h3>
        </a>

        <a class="categoria2" routerLink="/viajeros-home">
            <img class="img-normal" src="../../../assets/logo-viajeros.png" alt="viajeros">
           <!--  <img class="img-hover" src="../../../../assets/logo-viajeros-hover.png" alt="viajeros"> -->
            <h3>Viajeros</h3>
        </a>

        <a class="categoria3" routerLink="/gramatica-home">
            <img class="img-normal" src="../../../assets/logo-gramatica.png" alt="gramatica">
         <!--    <img class="img-hover" src="../../../../assets/logo-gramatica-hover.png" alt="gramatica"> -->
            <h3>Gramática</h3>
        </a>
    </div>
</section>
