.container{
    width: 100%;
    padding: 2rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario-IniciarSesion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    max-width: 40rem; /*ancho de los formularios*/
    height: 40rem;
    border-radius: 50px;
    padding-top: 2rem;
    padding-bottom: 3rem;

    background-color: #BFA1A1;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 2px #dfc5c5;
}

.formulario-IniciarSesion h2{
    width: 80%;
    font-size: 3rem;

    margin-bottom: 40px;
    
    display: flex;
    justify-content: center;
    font-family: "Poetsen One", sans-serif;
}

.formulario-IniciarSesion input{
    background-color: #dfc5c5;

    width: 80%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
  
    font-size: 20px;
    outline: none;
    font-family: "Public Sans", sans-serif;
}

.btn-iniciarSesion{
    padding: 10px 50px 10px 50px;
    margin-top: 30px; 
    border: none;
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    background: #dfc5c5;
   
    cursor: pointer;
    outline: none;
    border-radius: 50px;
}

.btn-iniciarSesion:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 2px #948080;
}


.error{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    color: rgb(148, 40, 40);
}



