<nav class="barra-A">

    <div class="imagen-nombre-A">
        <a routerLink="/alojamiento-home">
            <img class="img-flecha" src="../../../../assets/viajeros-img/nav/flecha-viajeros.png" alt="Logo" width="20"
                height="14">
        </a>
        <span>Multiple choice - PREGUNTAS</span>
    </div>

    <img class="img-a" src="../../../../../../assets/viajeros-img/nav/preguntas.png" alt="vocabulario">

</nav>

<section class="cuerpo-viajero-A">

    <div class="cuerpo-MCP" *ngIf="mostrarCuestionario">

        <div *ngIf="preguntasAlojamiento && preguntasAlojamiento[oracionActual]">
            <p class="titulo">{{ preguntasAlojamiento[oracionActual].oracion }}</p>
        </div>

        <ul class="ejercicio" *ngIf="preguntasAlojamiento[oracionActual] && preguntasAlojamiento[oracionActual].respuestas">
            <li *ngFor="let respuesta of preguntasAlojamiento[oracionActual].respuestas; let i = index">
                <label>
                    <input type="radio" [(ngModel)]="respuestaSeleccionada" [value]="respuesta"
                        [disabled]="respuestaCorrecta !== ''">
                    {{ respuesta }}
                    <span
                        *ngIf="respuestaCorrecta === 'correcta' && respuesta === preguntasAlojamiento[oracionActual].respuestaCorrecta"
                        style="color: green;">✔</span>
                    <span *ngIf="respuestaCorrecta === 'incorrecta' && respuesta === respuestaSeleccionada"
                        style="color: red;">✘</span>
                </label>
            </li>
        </ul>

        <button (click)="verificarRespuesta()">Verificar respuesta</button>
        <button *ngIf="intentos > 0 && respuestaCorrecta === 'incorrecta'" (click)="resetearEstado()">Intentar de
            nuevo</button>
        <button *ngIf="mostrarBoton" (click)="siguientePregunta() ">Siguiente pregunta</button>
    </div>

    <div class="cuerpo-mensaje" *ngIf="!mostrarCuestionario">
        <p class="emoticones">🛒 😊 👏</p>
        <p class="mensaje">¡Fin del cuestionario!</p>
        <button routerLink="/shopping-home">Volver a shopping</button>
    </div>

    <div class="vocabulario">
        <img src="../../../../../../assets/gramatica-img/eleccion/help.png" alt="help">
        <a class="boton-vocabulario" routerLink="/vocabulario-alojamiento" target="_blank"> VOCABULARIO </a>
    </div>

</section>
