<div class="contenedor-cuadrados">

    <fieldset class="cuadrado">
        <legend>Unir palabras con imagenes</legend>

        <section class="img-presentacion1">
            <img src="../../../../assets/img-juego/gato.png" alt="imagen-gato">
            <button class="boton-respuesta1"> CAT </button>
        </section>

        <a routerLink="/palabra-imagen-juego">
            <button class="boton-jugar">JUGAR</button>
        </a>
    </fieldset>

    <fieldset class="cuadrado">
        <legend>Unir palabras con palabras</legend>

        <section class="presentacion2">
            <button class="boton-respuesta2"> BED </button>
            <button class="boton-respuesta3"> CAMA </button>
        </section>

        <a routerLink="/palabra-palabra-juego">
            <button class="boton-jugar">JUGAR</button>
        </a>
    </fieldset>

    <fieldset class="cuadrado">
        <legend>Unir color con su nombre</legend>
        <section class="img-presentacion3">
            <img src="../../../../assets/img-juego/rosa.png" alt="imagen-color-rosa">
            <button class="boton-respuesta4"> PINK </button>
        </section>

        <a routerLink="/nombreColor-color-juego">
            <button class="boton-jugar">JUGAR</button>
        </a>
    </fieldset>

</div>