<div *ngIf="!isLogged()">
    {{this.router.navigate(['/home-general'])}}
</div>

<section class="cuerpo-viajero">

    <nav-viajero></nav-viajero>

    <section class="secciones-viajero">
        <h4>Bienvenido! En esta parte de la página encontrarás una forma de aprender inglés que te servirá en los
            diferentes contextos de viaje que te ofrecemos.</h4>
        
        <!--
        <h4>Bienvenido! Descubre cómo utilizar el inglés para comunicarte en tus viajes con nuestras lecciones.</h4>
        <h4>¡Explora diferentes situaciones y mejora tus habilidades!</h4>
        -->
    </section>

    <div class="secciones-viajero">
        <eleccion-tematica></eleccion-tematica>
    </div>

</section>