<section class="cuerpo-viajero">

    <nav class="barra">
        <div class="imagen-nombre">
            <a routerLink="home"> <img src="../../../../assets/logoChiquito-viajero.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Viajeros</span>
        </div>
    </nav>

    <section class="secciones-viajero">
        <h4>Bienvenido! En esta parte de la página encontrarás una forma de aprender ingles que te servirá en los
            diferentes contextos de viaje que te ofrecemos.</h4>
    </section>

    <section class="secciones-viajero">

        <div class="contenedor-cuadrados">

            <fieldset class="cuadrado">

                <legend>Shopping</legend>
                <section class="img-shopping">
                    <img src="../../../../assets/img-viajeros/shopping.png" alt="imagen-shopping">
                </section>

                <a routerLink="/shopping-viajeros">
                    <button class="boton-entrar">ENTRAR</button>
                </a>

            </fieldset>

            <fieldset class="cuadrado">

                <legend>Restaurante</legend>
                <section class="img-restaurante">
                    <img src="../../../../assets/img-viajeros/restaurant.png" alt="imagen-restaurante">
                </section>
                
                <a routerLink="/restaurant-viajeros">
                    <button class="boton-entrar">ENTRAR</button>
                </a>

            </fieldset>

            <fieldset class="cuadrado">

                <legend>Alojamiento</legend>
                <section class="img-alojamiento">
                    <img src="../../../../assets/img-viajeros/alojamiento.png" alt="imagen-alojamiento">
                </section>
                
                <a routerLink="/alojamiento-viajeros">
                    <button class="boton-entrar">ENTRAR</button>
                </a>

            </fieldset>

        </div>

    </section>

</section>