<navbar></navbar>
<section class="contenedor-principal">
    <bienvenida></bienvenida>
    <categorias></categorias>

    <!--<section class="contenedor-bienvenida">
        <img class="logo-home" src="../../../assets/LOGO-PAGINA.png" alt="">
        <div class="introduccion">
            <h1>Hola!</h1>
            <p>Bienvenido a LEO (Learn English Online), somos una página que cuenta con diferentes formas de mejorar tu
                inglés de forma dinámica.</p>
        </div>
    </section>-->
    
    <!--<section class="contenedor-categorias">
        <h2><span class="span-titulo">Categorías</span> de Aprendizaje</h2>
    
        <div class="lista-categorias">
            <a class="categoria" routerLink="/juegos-home">
                <img src="../../../assets/logo-juego.png" alt="juegos">
                <h3>Juegos</h3>
            </a>
    
            <a class="categoria" routerLink="/viajeros-home">
                <img src="../../../assets/logo-viajeros.png" alt="viajeros">
                <h3>Viajeros</h3>
            </a>
    
            <a class="categoria" routerLink="/gramatica-home">
                <img src="../../../assets/logo-gramatica.png" alt="gramatica">
                <h3>Gramática</h3>
            </a>
        </div>
    </section>-->

</section>