@import url(../../../styles.css);

.contenedor-principal{
    /* background-color: #DCBEE8FF; */
    background-image: url(../../../assets/img-home/fondo-home-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 10%;
    margin-bottom: 0;
}

.footer{
    margin-top: 10%;
}

/* BIENVENIDA */ /*
.contenedor-bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 3rem; 
} 

.contenedor-bienvenida .logo-home{
    max-width: 100%;
    height: 29.3rem;
}

.contenedor-bienvenida .introduccion{
    max-width: 50%;
    height: 20.3rem;
    background-color: #B3B3FDFF;
    padding: 5rem;
}

.contenedor-bienvenida .introduccion h1{
    font-size: 3rem;
    color: black;
    margin: 0;
}

.contenedor-bienvenida .introduccion p{
    font-size: 1.5rem;
    text-align: justify;
    color: black;
    font-family: 'Lexend', sans-serif;
} */

/* CATEGORIAS */ /*
.contenedor-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-categorias h2{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contenedor-categorias .span-titulo{
    font-weight: bold;
    color: rgb(129, 129, 197);
}

.lista-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.categoria{
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0 1rem;
}

.categoria img{
    max-width: 10rem;
}

.categoria h3{
    font-size: 1.8rem;
    margin-top: 1rem;
}*/


