@import url(../../../styles.css);

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .contenedor-principal {
        padding-bottom: 5%;
    }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 768px) {
    .contenedor-principal {
        padding-bottom: 10%;
    }
}

.footer {
    margin-top: 5%; /* Ajusta el margen del footer para pantallas grandes y pequeñas */
}

