.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.opciones {
    display: flex;
    flex-direction: column; /* Organiza los botones verticalmente */
    align-items: center;
}

.opciones a {
    margin: 35px 0; /* Espacio entre los botones */
}

/* Efecto de animación al cargar la página */
.opciones a {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}

.opciones a img {
    max-width: 500px; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

.opciones a img:hover {
    transform: scale(1.1); /* Aplica un efecto de zoom al pasar el cursor sobre las imágenes */
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}