<section class="contenedor">

    <div class="opciones">
        <a routerLink="/palabra-imagen-juego">
            <img src="../../../../assets/juegos-img/elecciones/i-p.png" alt="imagen-palabra">
        </a>

        <a routerLink="/nombreColor-color-juego">
            <img src="../../../../assets/juegos-img/elecciones/c-p.png" alt="color-palabra">
        </a>
        
        <a routerLink="/palabra-palabra-juego">
            <img src="../../../../assets/juegos-img/elecciones/p-p.png" alt="palabra-palabra">
        </a>
       
    </div>

</section>


