<section class="cuerpo-NB">

    <nav class="barra-NB">
        <div class="imagen-nombre-NB">
            <a routerLink="/nivelBasico-gramatica"> <img src="../../../../assets/logoChiquito-gramatica.png" alt="Logo"
                    width="30" height="24"></a>
            <span>Completar oraciones</span>
        </div>
    </nav>

    <div class="contenedor-pagina">

        <section class="completar">

            <form class="formulario" (ngSubmit)="guardarRespuesta()" [formGroup]="answer">

                <p> {{ randomPhrase.oracion }} </p>

                <select id="completar" formControlName="completar">
                    <option disabled selected> Choose your answer </option>
                    <option *ngFor="let i of randomPhrase.respuestas" [value]="i">
                        {{ i }}
                    </option>
                </select>

            <div *ngIf="correcciones">
                <div *ngFor="let correccion of correcciones" class="contenedor-errores">
                    <p class="error">{{ correccion.message }} - Reemplazos: {{ correccion.replacements.join(', ') }}</p>
                </div>
            </div>

            <div *ngIf="respuestaEnviada && check === true">
                <p class="correcto">CORRECTO!</p>
            </div>

            <div class="botones">
                <input class="boton" type="submit" value="Check">

                <input class="boton" type="button" value="Reset" (click)="reset()">

                <input class="boton" type="button" value="Next sentence" (click)="siguienteEjercicio()">
            </div>

            </form>
        </section>
    </div>
</section>