.imagen-nombre-P-P {
    font-size: 25px;
    /* Tamaño deseado para el texto */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.img-flecha {
    width: 50px;
    /* Ancho deseado para la imagen */
    height: auto;
    /* Altura ajustada automáticamente para mantener la proporción */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

/**/

.cuerpo-juego-P-P {
    background-color: #BA8ECD;
    padding-bottom: 10%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    /* Centrar contenido horizontalmente */
    align-items: center;
    /* Centrar contenido verticalmente */
}

main {
    width: 760px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    /* Cambiar dirección del flex a fila */
    align-items: center;
    justify-content: space-between;
    /* Espaciado entre elementos */
}

.section1 {
    background-color: #d6cadbbb;
    padding: 25px 30px;
    border-radius: 8px;
    margin-bottom: 2rem;
    flex: 1;
    /* Permitir que la sección 1 crezca */
    margin-right: 20px;
    /* Añadir margen derecho */
}

.eleccion {
    animation: scale-up-center 0.9s;
    border-radius: 10%;
    border-style: none;
    background-color: #c198d1;
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Añadir transiciones para un efecto suave */
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.eleccion:hover {
    background-color: #BA8ECD;
    box-shadow: 0rem 0rem 1rem 0.01rem black;
}

button {
    height: 130px;
    width: 130px;
    font-size: 40px;
    color: black;
}

button:hover {
    cursor: pointer;
}


.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #DCBEE8FF;
    height: 300px;

    padding: 0px 30px;
    flex: 0 0 250px;
    /* No permitir que la sección 2 crezca */
    border-radius: 20px;
}

.estadisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #c198d1;
    height: 60px;
    border-radius: 8px;

    text-align: center;
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;   
}



.overlay {
    position: fixed;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../../assets/img-juego/serpentinas.gif) repeat;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Añadir padding para mejorar la apariencia en dispositivos móviles */


    z-index: 1000;
    /* Asegura que la superposición esté en la parte superior */

}

.mensajeGanador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50%;

    animation: scale-up-center 1.5s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.overlay img {
    max-width: 100%;
    width: 15%;
}

.botonMensaje {
    width: 100%;

    margin: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: #BA8ECD;
    color: rgb(0, 0, 0);

    border: none;
    border-radius: 400px;
    cursor: pointer;

    font-size: 2.8rem;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;

}

.botonMensaje:hover {
    box-shadow: 0rem 0rem 1rem 0.01rem black;
}


@media only screen and (max-width: 768px) {
    .imagen-nombre-P-P {
        flex-direction: row; /* Mantiene la dirección en fila */
        align-items: center; /* Alinea los elementos al centro */
        font-size: 18px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        overflow: hidden; /* Evita que el contenido se salga del contenedor */
        white-space: nowrap; /* Evita que el texto haga wrap a la siguiente línea */
        text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
    }

    .img-flecha {
        width: 40px; /* Ajusta el ancho de la imagen para pantallas más pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
        
        margin-left: 15px;
    }

    .cuerpo-juego-P-P {
        flex-direction: column;
        /* Asegurarse de que el cuerpo del juego se ajuste en una columna */
        padding-bottom: 20px;
    }

    main {
        width: 100%;
        /* Ajustar el ancho principal al 100% */
        margin: 20px 0;
        /* Ajustar margen superior e inferior */
        flex-direction: column;
        /* Cambiar la dirección del flex a columna */
    }

    .section1 {
        width: 80%;
        /* Ajustar ancho de las secciones al 100% */
        margin-bottom: 20px;
        /* Añadir margen inferior para separación */
    }

    .section2 {
        width: 250px;
        height: 100px;
        padding: 0px 30px;

        /* Ajustar ancho de las secciones al 100% */
        margin-bottom: 20px;
        /* Añadir margen inferior para separación */
    }

    button {
        height: 80px;
        /* Reducir altura de los botones en dispositivos móviles */
        width: 80px;
        /* Reducir ancho de los botones en dispositivos móviles */
        font-size: 20px;
        /* Reducir tamaño de la fuente en dispositivos móviles */
    }

    .overlay {
        padding: 20px;
        /* Añadir padding para mejorar la apariencia en dispositivos móviles */
    }

    .botonMensaje {
        font-size: 2rem;
        /* Adjust font size for smaller screens */
        margin: 1rem;
        /* Adjust margin for smaller screens */
    }

    .mensajeGanador {
        flex-direction: column;
        /* Stack buttons vertically on small screens */
        width: 80%;
        /* Adjust width for smaller screens */
    }
}