<section class="cuerpo-gramatica">

    <nav class="barra">
        <div class="imagen-nombre">
            <a href="**"> <img src="../../../../assets/logoChiquito-viajero.png" alt="Logo" width="30" height="24"></a>
            <span>Gramática</span>
        </div>
    </nav>

    <section class="secciones-gramatica">
        <h4>Bienvenido! En esta parte de la página encontrarás diferentes ejercicios para mejorar tu ingles orientado a
            tu gramática. Selecciona el nivel según consideres.</h4>
    </section>

    <section class="secciones-gramatica">

        <div class="contenedor-cuadrados">

            <fieldset class="cuadrado">

                <legend>Nivel BÁSICO</legend>
                <section class="img-basico">
                    <img src="../../../../assets/img-gramatica/basico.PNG" alt="imagen-basico">
                </section>
                <button class="boton-entrar">ENTRAR</button>
            </fieldset>

            <fieldset class="cuadrado">

                <legend>Nivel INTERMEDIO</legend>
                <section class="img-intermedio">
                    <img src="../../../../assets/img-gramatica/intermedio.PNG" alt="imagen-intermedio">
                </section>
                <button class="boton-entrar">ENTRAR</button>
            </fieldset>

            <fieldset class="cuadrado">

                <legend>Nivel AVANZADO</legend>
                <section class="img-avanzado">
                    <img src="../../../../assets/img-gramatica/avanzado.PNG" alt="imagen-avanzado">
                </section>
                <button class="boton-entrar">ENTRAR</button>
            </fieldset>

        </div>

    </section>

</section>