<section class="cuerpo-nivel-basico">
    <nav class="barra-NB">
        <div class="imagen-nombre-NB">
            <a routerLink="/gramatica-home"> <img src="../../../../assets/logoChiquito-gramatica.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Intermedio: Ejercicios</span>
        </div>
    </nav>

    <div class="contenedor-cuadrados">

        <fieldset class="cuadrado">
    
            <legend style="margin-bottom: 13rem;">Reescribir</legend>
            
            <div class="descripcion">Reescribí la oración dada en los diferentes modos solicitados.</div>
    
            <a routerLink="/reescribir-ejercicio-int">
                <button class="boton-entrar" >ENTRAR</button>
            </a>
        </fieldset>
    
        <fieldset class="cuadrado">
    
            <legend>Completar</legend>
            <div class="descripcion">Completá con la palabra faltante.</div>

    
            <a routerLink="/completar-ejercicio-int">
                <button class="boton-entrar" >ENTRAR</button>
            </a>
        </fieldset>
    
        <fieldset class="cuadrado">
    
            <legend>Ordenar</legend>
            <div class="descripcion">Ordená las palabras y formá la oración.</div>
            
            <a routerLink="/ordenar-ejercicio-int">
                <button class="boton-entrar">ENTRAR</button>
            </a>
        </fieldset>
    </div>
</section>

