<nav class="barra-NB">
    <div class="imagen-nombre-NB">
        <a routerLink="/intermedio-home">
            <img class="img-flecha" src="../../../../../assets/gramatica-img/nav/flecha-gramatica.png" alt="Logo" width="20" height="14">
        </a>
        <span>Completar las oraciones - Complete the sentences</span>
    </div>
</nav>

<section class="cuerpo-NB">

    <div class="contenedor-pagina">

        <section class="completar">

            <form class="formulario" (ngSubmit)="guardarRespuesta()" [formGroup]="answer">
                
                <p> {{ randomPhrase.oracion }} </p>

                <select id="completar" formControlName="completar" *ngIf="!loading">
                    <option disabled selected> Elegí tu respuesta - Choose your answer </option>
                    <option *ngFor="let i of randomPhrase.respuestas" [value]="i">
                        {{ i }}
                    </option>
                </select>

                <div *ngIf="loading" class="loading-spinner"></div>

                <!-- check -->
                <div *ngIf="!loading && answer.controls['completar'].getError('required') && answer.controls['completar'].touched ">
                    <p class="error"> El campo es requerido </p>
                </div>

                <!-- errores -->
                <div *ngIf="!loading && (check === true)">
                    <div *ngIf="correcto === false">
                        <div *ngFor="let correccion of correcciones">
                            <p class="error">{{ correccion.message }} </p>
                        </div>
                    </div>
                </div>

                <!-- correcto -->
                <div *ngIf="!loading && (check === true) && (loading === false)">
                    <div *ngIf="correcto === true">
                        <p class="correcto">Your answer is correct!</p>
                    </div>
                </div>

                <div class="botones">
                    <input *ngIf="!loading" class="boton" type="submit" value="Check">
                    <input class="boton" type="button" value="Reset" (click)="reset()">
                    <input *ngIf="correcto && !loading" class="boton" type="button" value="Next sentence" (click)="siguienteEjercicio()">
                </div>
            </form>
        </section>

        <div class="overlay" *ngIf="ganador">  
            <img src="../../../../assets/juegos-img/ganaste/win.png" alt="ganaste">
            <div class="mensajeGanador">
                <button class="botonMensaje" routerLink="/intermedio-home">VOLVER A INTERMEDIO </button>
            </div>
        </div>
    </div>
</section>