<nav class="barra-NB">
    <div class="imagen-nombre-NB">
        <a routerLink="/intermedio-home">
            <img class="img-flecha" src="../../../../../assets/gramatica-img/nav/flecha-gramatica.png" alt="Logo" width="20" height="14">
        </a>
        <span>Completar las oraciones - Complete the sentences</span>
    </div>
</nav>

<section class="cuerpo-NB">

    <div class="contenedor-pagina">

        <section class="completar">

            <div *ngIf="loading" class="loading-spinner"></div>

            <form class="formulario" (ngSubmit)="guardarRespuesta()" [formGroup]="answer" *ngIf="!loading">
                <p> {{ randomPhrase.oracion }} </p>

                <select id="completar" formControlName="completar">
                    <option disabled selected> Choose your answer </option>
                    <option *ngFor="let i of randomPhrase.respuestas" [value]="i">
                        {{ i }}
                    </option>
                </select>

                <!-- check -->
                <div *ngIf="answer.controls['completar'].getError('required') && answer.controls['completar'].touched ">
                    <p class="error"> El campo es requerido </p>
                </div>

                <!-- errores -->
                <div *ngIf="(check === true)">
                    <div *ngIf="correcto === false">
                        <div *ngFor="let correccion of correcciones">
                            <p class="error">{{ correccion.message }} </p>
                        </div>
                    </div>
                </div>

                <!-- correcto -->
                <div *ngIf="(check === true) && (loading === false)">
                    <div *ngIf="correcto === true">
                        <p class="correcto">CORRECTO!</p>
                    </div>
                </div>

                <div class="botones">
                    <input class="boton" type="submit" value="Check">
                    <input class="boton" type="button" value="Reset" (click)="reset()">
                    <input *ngIf="correcto" class="boton" type="button" value="Next sentence" (click)="siguienteEjercicio()">
                </div>

            </form>
        </section>
    </div>
</section>