<nav class="barra-R">

    <div class="imagen-nombre-R">
        <a routerLink="/restaurante-home">
            <img class="img-flecha" src="../../../../assets/viajeros-img/nav/flecha-viajeros.png" alt="Logo" width="20"
                height="14">
        </a>
        <span>Vocabulario - Vocabulary</span>
    </div>

    <img class="img-r" src="../../../../../../assets/viajeros-img/nav/vocabulario.png" alt="vocabulario">

</nav>

<section class="cuerpo-viajero-R">

    <section class="contenedor-restaurante">

        <div class="contenedor-tabla" *ngIf="vocabularioRestaurante">
            <h2 class="titulo"> Comida y Bebida </h2>
            <table class="tablaRestaurante">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-restaurante">
                    <tr class="palabras" *ngFor="let palabra of vocabularioRestaurante['Comida y Bebida']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-tabla" *ngIf="vocabularioRestaurante">
            <h2 class="titulo"> Pedir Comida </h2>
            <table class="tablaRestaurante">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-restaurante">
                    <tr class="palabras" *ngFor="let palabra of vocabularioRestaurante['Pedir Comida']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-tabla" *ngIf="vocabularioRestaurante">
            <h2 class="titulo"> Mesa y Servicio </h2>
            <table class="tablaRestaurante">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-restaurante">
                    <tr class="palabras" *ngFor="let palabra of vocabularioRestaurante['Mesa y Servicio']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button routerLink="/restaurante-home"> Volver al Restaurante </button>

    </section>

</section>