<div class="container">

    <form class="formulario-registrarse" id="form" [formGroup]="form" (ngSubmit)="guardarUser()">

        <h2> Registrarse </h2>

        <input type="text" id="username" formControlName="username" placeholder="nombre de usuario">

        <div class="error"
            *ngIf="this.form.controls['username'].touched && this.form.controls['username'].getError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="this.form.controls['username'].touched && this.form.controls['username'].getError('minlength')">
            Mínimo de 3 caracteres
        </div>
        <div class="error"
            *ngIf="form.controls['username'].touched && form.controls['username'].getError('invalidUsername')">
            Debe contener al menos dos letras antes de cualquier número
        </div>

        <input type="email" id="email" formControlName="email" placeholder="correo electrónico">

        <div class="error"
            *ngIf="this.form.controls['email'].touched && this.form.controls['email'].getError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="this.form.controls['email'].touched && this.form.controls['email'].getError('invalidEmailDomain')">
            Debe ingresar un email válido
        </div>

        <input type="password" id="password" formControlName="password" placeholder="contraseña">

        <div class="error"
            *ngIf="this.form.controls['password'].touched && this.form.controls['password'].getError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="this.form.controls['password'].touched && this.form.controls['password'].getError('minlength')">
            Debe contener mínimo de 6 caracteres
        </div>
        <div class="error"
            *ngIf="this.form.controls['password'].touched && this.form.controls['password'].getError('noNumber')">
            Debe contener al menor un número
        </div>

        <button class="btn-registrarte"> REGISTARSE </button>

    </form>


    <div class="error" *ngIf="errorMail!='exito'">
        {{errorMail}}
    </div>
    <div class="error" *ngIf="errorUser!='exito'">
        {{errorUser}}
    </div>


</div>