<div class="container">

    <form class="formulario-registrarse" id="form" [formGroup]="form" (ngSubmit)="guardarUser()">

        <h2> Registrarse </h2>

        <!-- USERNAME -->
        <input type="text" id="username" formControlName="username" placeholder="nombre de usuario">

        <div class="error"
            *ngIf="form.controls['username'].touched && this.form.controls['username'].getError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="form.controls['username'].touched && this.form.controls['username'].getError('minlength')">
            Mínimo de 3 caracteres
        </div>
        <div class="error"
            *ngIf="form.controls['username'].touched && form.controls['username'].getError('invalidUsername')">
            Debe contener al menos dos letras antes de cualquier número
        </div>

        <div class="error" *ngIf="errorUser!='exito'">
            {{errorUser}}
        </div>

        <!-- EMAIL -->
        <input type="email" id="email" formControlName="email" placeholder="correo electrónico">

        <div class="error"
            *ngIf="form.controls['email'].touched && this.form.controls['email'].getError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="form.controls['email'].touched && this.form.controls['email'].getError('invalidEmailDomain')">
            Debe ingresar un email válido
        </div>

        <div class="error" *ngIf="errorMail!='exito'">
            {{errorMail}}
        </div>

        <!-- PASSWORD -->
        <div class="password-container">
            <input type="password" id="password" formControlName="password" placeholder="contraseña" 
                [type]="showPassword ? 'text' : 'password'">
            <i class="fas" (click)="togglePasswordVisibility()" 
                [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        </div>


        <div class="error"
            *ngIf="form.controls['password'].touched && this.form.controls['password'].getError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="form.controls['password'].touched && this.form.controls['password'].getError('minlength')">
            Debe contener mínimo de 6 caracteres
        </div>
        <div class="error"
            *ngIf="form.controls['password'].touched && this.form.controls['password'].getError('noNumber')">
            Debe contener al menor un número
        </div>

        <button class="btn-registrarte"> REGISTARSE </button>

    </form>




</div>