.cuerpo-gramatica {
    
    padding-bottom: 10%;
    margin-bottom: 0;
}

.secciones-gramatica h4 {
    padding: 2rem;
    font-size: 2.7rem;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

