<div *ngIf="!isLogged()">
    {{this.router.navigate(['/home-general'])}}
    </div>
<section class="cuerpo-gramatica">

    <nav-gramatica></nav-gramatica>

    <section class="secciones-gramatica">
        <h4>Bienvenido! en esta sección podrás elegir entre tres niveles de dificultad dento de los cuales 
            tendrás tres tipos de ejercicios para practicar.</h4>
    </section>

    <section class="secciones-gramatica">
        <eleccion-nivel></eleccion-nivel>
    </section>

</section>