<div *ngIf="!isLogged()">
    {{this.router.navigate(['/home-general'])}}
    </div>
<section class="cuerpo-gramatica">

    <nav-gramatica></nav-gramatica>

    <section class="secciones-gramatica">
        <h4>Bienvenido! En esta parte de la página encontrarás diferentes ejercicios para mejorar tu inglés orientado a
            tu gramática. Seleccioná el nivel según consideres.</h4>
    </section>

    <section class="secciones-gramatica">
        <eleccion-nivel></eleccion-nivel>
    </section>

</section>