.contenedor-bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: #DCBEE8FF; 
    padding: 5rem;
} 

.contenedor-bienvenida .logo-home{
    max-width: 100%;
    height: 29.3rem;
}

.contenedor-bienvenida .introduccion{
    max-width: 50%;
    height: 20.3rem;
    background-color: #B3B3FDFF;
    padding: 5rem;
}

.contenedor-bienvenida .introduccion h1{
    font-size: 3rem;
    font-family: 'Lexend', sans-serif;;
    color: black;
    margin: 0;
    font-weight: bold;
}

.contenedor-bienvenida .introduccion p{
    font-size: 1.5rem;
    text-align: justify;
    color: black;
    font-family: 'Lexend', sans-serif;
}