<section class="contenedor-bienvenida">

    <section class="contenedor-logo">

        <img class="logo-home" src="../../../../assets/home-img/nuevo-logo.png" alt="LOGO-Pagina-removebg-preview.png">

    </section>

    <section class="contenedor-texto">

        <div class="introduccion">
            <img class="hola" src="../../../../assets/home-img/mano-saluda.png" alt="hola">
            <p>Hola, Hello, Hi</p>

        </div>

        <p> Bienvenido/a a LEO (Learn English Online), somos una página que cuenta con diferentes formas de mejorar tu
            inglés de forma dinámica.
        <p>

    </section>

</section>
