.contenedor-bienvenida {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 5rem;

    padding-top: 15rem;
}

.contenedor-bienvenida .logo-home {
    max-width: 50%;
    animation: scale-up-center 2.0s;
    width: 30%; /* Tamaño del logo */
    margin-left: 8rem;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}


.contenedor-bienvenida .introduccion {
    max-width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.hola{
    max-width: 100%; /* Ajusta el tamaño de la imagen "¡Hola!" */
    height: auto;
    width: 35%; /* Tamaño de la imagen "¡Hola!" */
}

.contenedor-bienvenida .introduccion p {
    font-size: 2.8rem; /* Reduce el tamaño de fuente para pantallas más pequeñas */
    text-align: justify;
    color: black;
    font-family: 'Public Sans', sans-serif;
    opacity: 100%;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .contenedor-bienvenida {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        text-align: center; /* Centra el contenido */
    }
    .contenedor-bienvenida .introduccion {
        max-width: 100%; /* Cambia el ancho máximo a 100% en pantallas pequeñas */
    }
    .contenedor-bienvenida .logo-home,
    .contenedor-bienvenida .introduccion {
        width: 100%; /* Ajusta el ancho de los elementos a 100% en pantallas pequeñas */
    }
    .hola {
        width: 70%; /* Ajusta el tamaño de la imagen "¡Hola!" en pantallas pequeñas */
    }
}
