.contenedor-bienvenida {
    display: flex; 
    align-items: center; 
   
    justify-content: space-between; /* Espacio entre logo y texto */
    height: 100vh;
    padding: 5rem;

    margin-bottom: 0rem;
}

.logo-home {
    width: 100%;
    max-width: 500px; /* Tamaño máximo deseado para el logo */
    height: auto; 
    opacity: 0;
    

    animation: slideInFromLeft 1s ease-out forwards; /* Aplica la animación */

}

/* Animación de entrada */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.contenedor-logo{   
    max-width: 50%;
    width: 50%;
}

.contenedor-texto{
    max-width: 50%;
    width: 50%;

    text-align: justify;
    font-size: 1.5rem;
    color: black;
    font-family: 'Public Sans', sans-serif;
    opacity: 100%;

    margin: 1rem 5rem 0rem 0rem; 
}

.introduccion{
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Mantiene el texto y la imagen en una sola línea */
}

.introduccion p {
    margin-left: 0  rem;
    font-size: 3rem;
    padding: 2rem;

    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: #5c5d88;
}
    
.hola {
    max-width: 100%;
    height: auto;
    width: 80px;
    margin-right: 1rem;

    animation: moveHand 2s infinite;
}

/* movimiento de mano */
@keyframes moveHand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 767px) {
    .contenedor-bienvenida {
        margin-top: 2rem;
        flex-direction: column; 
        height: auto; 
    }

    .contenedor-logo, .contenedor-texto {
        width: 100%;
        max-width: 100%;
        margin: 1.5rem 0; 
    }


    .introduccion p {
        margin-left: 0;
        font-size: 2.5rem; 
        
    }

    .hola{
        width: 50px;
    }
}



