<nav class="barra-R">

    <div class="imagen-nombre-R">
        <a routerLink="/viajeros/viajeros-home">
            <img class="img-flecha" src="../../../../assets/viajeros-img/nav/flecha-viajeros.png" alt="Logo" width="20"
                height="14">
        </a>
        <span>Restaurante</span>
    </div>

    <img class="img-R" src="../../../../assets/viajeros-img/nav/icono-nav-restaurante.png" alt="restaurante">
    
</nav>

<section class="contenedor">

    <div class="opciones">

        <a routerLink="/vocabulario-restaurante">
            <img src="../../../../assets/viajeros-img/elecciones/restaurante/aprende.png" alt="aprende">
        </a>

        <h4>EJERCICIOS MULTIPLE CHOICE</h4>

        <div class="opciones-ejercicios">

            <a routerLink="/multipleChoice-vocabulario-restaurante">
                <img src="../../../../assets/viajeros-img/elecciones/restaurante/vocabulario.png" alt="vocabulario">
            </a>

            <a routerLink="/multipleChoice-preguntas-restaurante">
                <img src="../../../../assets/viajeros-img/elecciones/restaurante/preguntas.png" alt="preguntas">
            </a>
            
        </div>

    </div>



</section>