.contenedor-navbar{
    background-color: #C5C6F6;
    position: fixed;
    width: 100%;
    z-index: 4;
}

nav{
    display: flex;
    justify-content: center;
}

.navegacion {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.navegacion li a {
    display: flex;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: rgb(110, 104, 104);
    font-size: 2rem;
    
}

.home-span{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}


.logout, .nombre, .editar{
    display: flex;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: rgb(110, 104, 104);
    font-size: large;
    float:right;
    color: black;
    white-space: nowrap;
}

.nombre{
    font-weight: bold;   
    padding: 1rem 25rem;
}

.navegacion li a:hover {
    background-color: #8c8cc5;
    color: rgb(114, 113, 113);
}
.logout:hover , .editar:hover{
    background-color: #8c8cc5;
    color: rgb(114, 113, 113);
}