<header class="contenedor-navbar">
    <nav>
        <div class="izquierda">
            <a routerLink="/home"><span class="inicio">Inicio</span></a>
            <a routerLink="/contactanos-page" ><span class="contactanos">Contactanos</span></a>
        </div>

        <div class="medio">
            <a class="nombre" *ngIf="getUser()?.username"> Bienvenido/a {{getUser()?.username}}!</a>
        </div>

        <div class="derecha">
            <a class="editar" *ngIf="getUser()?.username" [routerLink]="['/my-profile',getUserId()]">Editar Perfil</a>
            <a class="logout" *ngIf="getUser()?.username" (click)="onLogOut()">Cerrar Sesión</a>
        </div>
    </nav>
</header>