

    <a class="abrir-btn" (click)="alternar()">
        <img class="logo-traductor"src="../../../../assets/logo-traductor.png" alt="traductor">
        <img class="logo-traductor-hover"src="../../../../assets/logo-traductor-hover.png" alt="traductor-hover">
    </a>



<span class="ventana-emergente" [ngClass]="{'mostrar': visible}">
    <div class="contenido">
      <h2>TRADUCTOR</h2>
      <div>
        <h3 *ngIf="this.idioma === 'es-en'">
            español-inglés
        </h3>
        <h3 *ngIf="this.idioma === 'en-es'">
            inglés-español
        </h3>
        <input type="button" value="cambiarIdioma" (click)="alternarIdioma()">
      </div>
      
      <div>
        
      <label for="traducir">Ingrese palabra a traducir:</label>
      <input type="text" id="traducir" [(ngModel)]="palabra">
      </div>
      
      <input type="button" value="traducir" (click)="traducir()">
      <p>{{traduccion}}</p>
      
    </div>
</span>
