.abrir-btn{
    position: fixed;
    top:83%;
    margin-left: 91%;
    margin-top: 0.5%;
    pointer-events: auto;
    /* max-width: 300rem; */
}

.abrir-btn img.logo-traductor-hover {
    display: none;
  }
  
  .abrir-btn:hover img.logo-traductor-hover {
    display: block;
  }

.logo-traductor:hover{
    display: none;
}

.ventana-emergente {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 20%; */
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
    
    
  transition: opacity 0.3s ease; /* Agregar transición de opacidad */
  
    
  }

  .ventana-emergente.mostrar {
    visibility: visible;
    display:inline-block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
    top:70%;
    margin-left: 85%;
    margin-bottom: 30%;
    
    

  }

  .contenido {
    background-color: #d8dcfc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(142, 142, 212);
    transform: scale(0.9);
    margin-bottom: 30%;
  transition: transform 0.3s ease;
  
  }

 