<a class="abrir-btn" (click)="alternar()" title="Hola! puedo ayudarte si no sabes que significan las palabras!">
  <img class="logo-traductor" src="../../../../assets/home-img/traductor.png" alt="traductor">

</a>

<div class="ventana-emergente" [ngClass]="{'mostrar': visible}">
  <div class="contenido">
    <div class="container-titulo-traductor">
      <h2 class="titulo-traductor">TRADUCTOR</h2>
      <button class="cerrar-btn" (click)="alternar()">✘</button>
    </div>

    <div class="container-cambiar-idioma">
      <h3 class="idioma" *ngIf="idioma === 'es-en'">español <input class="btn-cambiar-idioma" type="button" value="⮀" (click)="alternarIdioma()"> inglés</h3>
      <h3 class="idioma" *ngIf="idioma === 'en-es'">inglés <input class="btn-cambiar-idioma" type="button" value="⮀" (click)="alternarIdioma()">español</h3>
      
    </div>

    <fieldset class="campos-traduccion">
      <form [formGroup]="forms" (ngSubmit)="getForm()">
        <label class="label-palabra" for="palabra">Ingrese palabra a traducir</label>
        <input class="input-palabra" type="text" id="palabra" formControlName="palabra">
       
        <div class="error" *ngIf="forms.touched && forms.controls['palabra'].getError('required')">
          Ingresá una palabra para traducir
        </div>
        <input class="btn-traducir" type="submit" value="TRADUCIR">
      </form>

      <div class="container-traduccion">
         <!-- Indicador de carga -->
         <div *ngIf="loading" class="loading-spinner"></div>
         <!-- Traducción -->
         <p *ngIf="!loading && traduccion != '=' && traduccion.charAt(0) != '='" class="traduccion">{{traduccion}}</p>
         <p *ngIf="!loading && traduccion != '=' && traduccion.charAt(0) == '='" class="traduccion">{{traduccion.slice(1)}}</p>
      </div>
    </fieldset>
  </div>
</div>  