<section class="contenedor">

    <div class="opciones">

        <div class="columna">
            <a routerLink="/basico-home">
                <img src="../../../../assets/gramatica-img/eleccion/basico.png" alt="basico">
            </a>

            <a routerLink="/intermedio-home">
                <img src="../../../../assets/gramatica-img/eleccion/intermedio.png" alt="intermedio">
            </a>

            <a routerLink="/avanzado-home">
                <img src="../../../../assets/gramatica-img/eleccion/avanzado.png" alt="avanzado">
            </a>
        </div>



        <div class="columna">
            <img class="lupa" src="../../../../assets/gramatica-img/eleccion/lupa-basico.png" alt="basico" title="Hola! estos son ejercicios tradiciones que podrás resolver si tienes un nivel de ingles básico (A1/A2)">
            <img class="lupa" src="../../../../assets/gramatica-img/eleccion/lupa-intermedio.png" alt="intermedio" title="Hola! estos son ejercicios tradiciones que podrás resolver si tienes un nivel de ingles intermedio (B1/B2)">
            <img class="lupa" src="../../../../assets/gramatica-img/eleccion/lupa-avanzado.png" alt="avanzado" title="Hola! estos son ejercicios tradiciones que podrás resolver si tienes un nivel de ingles avanzado (C1/C2)">

        </div>

    </div>

</section>