<div class="contenedor-cuadrados">

    <fieldset class="cuadrado">

        <legend>BÁSICO</legend>
        <section class="img-basico">
            <img src="../../../../assets/img-gramatica/basico.PNG" alt="imagen-basico">
        </section>

        <a routerLink="/basico-home">
            <button class="boton-entrar">ENTRAR</button>
        </a>

    </fieldset>

    <fieldset class="cuadrado">

        <legend>INTERMEDIO</legend>
        <section class="img-intermedio">
            <img src="../../../../assets/img-gramatica/intermedio.PNG" alt="imagen-intermedio">
        </section>
        
        <a routerLink="/intermedio-home">
            <button class="boton-entrar">ENTRAR</button>
        </a>

    </fieldset>

    <fieldset class="cuadrado">

        <legend>AVANZADO</legend>
        <section class="img-avanzado">
            <img src="../../../../assets/img-gramatica/avanzado.PNG" alt="imagen-avanzado">
        </section>

        <a routerLink="/avanzado-home">
            <button class="boton-entrar">ENTRAR</button>
        </a>

    </fieldset>

</div>