<navbar></navbar>

<section class="contenedor-principal">

    <bienvenida></bienvenida>

    <!-- aca va el de sesion -->
    <div class="contenedor-todo">

        <div class="iniciarSesion">
            <h3>¿Ya tenes una cuenta?</h3>
            <p>Inicia sesión para entrar a la página</p>
            <button routerLink="/ingresa">INICIA SESIÓN</button>
        </div>

        <div class="registrarse">
            <h3>¿Aún no tenes cuenta?</h3>
            <p>Registrate para poder iniciar sesión</p>
            <button routerLink="/registrate" > REGISTRATE </button> 
        </div>

    </div>
    <contactanos></contactanos>

</section>