.container{
    background-image: url(../../../../assets/img-home/fondo-home-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 10%;
    margin-bottom: 0;
}