<section class="contenedor">
    <div class="contacto">
        <h1>Información de Contacto</h1>
        <div class="informacion">

            <div class="persona">
                <h1>Cruz Mailen</h1>
                <div class="dato-contacto">
                    <img src="https://via.placeholder.com/20" alt="Correo electrónico" class="icono">
                    <span>Correo Electrónico: <a href="mailto:correo@example.com">correo@example.com</a></span>
                </div>

                <div class="dato-contacto">
                    <img src="https://via.placeholder.com/20" alt="Teléfono" class="icono">
                    <span>Teléfono: <a href="tel:+1234567890">+123 456 7890</a></span>
                </div>
            </div>

            <div class="persona">
                <h1>Dominguez Luciana</h1>
                <div class="dato-contacto">
                    <img src="https://via.placeholder.com/20" alt="Correo electrónico" class="icono">
                    <span>Correo Electrónico: <a href="mailto:correo@example.com">correo@example.com</a></span>
                </div>

                <div class="dato-contacto">
                    <img src="https://via.placeholder.com/20" alt="Teléfono" class="icono">
                    <span>Teléfono: <a href="tel:+1234567890">+123 456 7890</a></span>
                </div>
            </div>

            <div class="persona">
                <h1>Galbato Sofia</h1>
                <div class="dato-contacto">
                    <img src="https://via.placeholder.com/20" alt="Correo electrónico" class="icono">
                    <span>Correo Electrónico: <a href="mailto:correo@example.com">correo@example.com</a></span>
                </div>

                <div class="dato-contacto">
                    <img src="https://via.placeholder.com/20" alt="Teléfono" class="icono">
                    <span>Teléfono: <a href="tel:+1234567890">+123 456 7890</a></span>
                </div>
            </div>

        </div>
    </div>

</section>