<navbar></navbar>
<section class="contenedor-principal">


    <div class="contacto">
        <div class="informacion">

            <div class="persona">
                <h1>Cruz Mailén</h1>

                <div class="dato-contacto">
                    <span> <b>📧 Correo Electrónico - Email</b>
                        <a href="mailto:c.mailen.188@gmail.com" target="_blank">c.mailen.188@gmail.com</a>
                    </span>
                </div>

                <div class="dato-contacto">
                    <span> <b>📞 Teléfono - Phone </b>
                        <a href="https://wa.me/2235286359" target="_blank"> 223 528 6359
                        </a></span>
                </div>

            </div>

            <div class="persona">
                <h1>Dominguez Luciana</h1>

                <div class="dato-contacto">

                    <span> <b>📧 Correo Electrónico - Email</b>
                        <a href="mailto:lucianaabril702@gmail.com" target="_blank"> lucianaabril702@gmail.com</a>
                    </span>

                </div>

                <div class="dato-contacto">
                    <span><b>📞 Teléfono - Phone </b>
                        <a href="https://wa.me/2234569466" target="_blank"> 223 456 9466
                        </a></span>
                </div>

            </div>

            <div class="persona">
                <h1>Galbato Sofia</h1>

                <div class="dato-contacto">
                    <span> <b>📧 Correo Electrónico - Email</b><a href="mailto:sofiagalbato28@gmail.com"
                            target="_blank">sofiagalbato28@gmail.com</a></span>
                </div>

                <div class="dato-contacto">
                    <span> <b>📞 Teléfono - Phone </b>
                        <a href="https://wa.me/2235316174" target="_blank"> 223 531 6174 
                        </a></span>
                </div>

            </div>

        </div>
    </div>

</section>