<!--<navbar-logueado></navbar-logueado>-->

<section class="titulo">
    <h2>CONTACTANOS</h2>
</section>

<section class="contenedor-informacion">

    <section class="persona1">

        <div class="nombre">
            <h1>Cruz Mailén</h1>
        </div>

        <div class="informacion">

            <div class="correo">
                <img src="../../../assets/contactanos-img/mail'm.png" alt="mail">
                <b>correo electrónico - email</b>
            </div>

            <a href="mailto:c.mailen.188@gmail.com" target="_blank">c.mailen.188@gmail.com</a>

            <div class="telefono">
                <img src="../../../assets/contactanos-img/telefono'm.png" alt="telefono">
                <b>número celular- phone number </b>
            </div>

            <a href="https://wa.me/2235286359" target="_blank"> 223 528 6359 </a>

        </div>
    </section>

    <section class="persona2">
        <div class="nombre">
            <h1>Dominguez Luciana</h1>
        </div>

        <div class="informacion">
            <div class="correo">
                <img src="../../../assets/contactanos-img/mail'l.png" alt="mail">
                <b>correo electrónico - email</b>

            </div>
            <a href="mailto:lucianaabril702@gmail.com" target="_blank"> lucianaabril702@gmail.com</a>


            <div class="telefono">
                <img src="../../../assets/contactanos-img/telefono'l.png" alt="telefono">
                <b>número celular- phone number </b>

            </div>
            <a href="https://wa.me/2234569466" target="_blank"> 223 456 9466 </a>
        </div>
    </section>

    <section class="persona3">
        <div class="nombre">
            <h1>Galbato Sofia</h1>
        </div>

        <div class="informacion">
            <div class="correo">
                <img src="../../../assets/contactanos-img/mail's.png" alt="mail">
                <b>correo electrónico - email</b>
            </div>
            <a href="mailto:sofiagalbato28@gmail.com" target="_blank">sofiagalbato28@gmail.com</a>


            <div class="telefono">
                <img src="../../../assets/contactanos-img/telefono's.png" alt="telefono">
                <b>número celular- phone number </b>
            </div>
            <a href="https://wa.me/2235316174" target="_blank"> 223 531 6174 </a>
        </div>
    </section>

</section>