<div class="container">

    <form class="formulario-editar" id="form" [formGroup]="form" (ngSubmit)="editarUser()">

        <h2> Editar usuario </h2>

        <!-- USERNAME -->
        <input type="text" id="username" formControlName="editUsername" placeholder="nombre de usuario">

        <div class="error"
            *ngIf="form.controls['editUsername'].touched && form.controls['editUsername'].invalid && form.controls['editUsername'].hasError('required')">
            El campo es requerido
        </div>
        <div class="error"
            *ngIf="form.controls['editUsername'].touched && form.controls['editUsername'].invalid && form.controls['editUsername'].hasError('minlength')">
            Mínimo de 3 caracteres
        </div>
        <div class="error"
            *ngIf="form.controls['editUsername'].touched && form.controls['editUsername'].invalid && form.controls['editUsername'].hasError('invalidUsername')">
            Debe contener al menos dos letras antes de cualquier número
        </div>
        <div class="error"
            *ngIf="form.controls['editUsername'].touched && form.controls['editUsername'].invalid && form.controls['editUsername'].hasError('spacesAtEdges')">
            No se permiten espacios 
        </div>
        <div class="error"
            *ngIf="form.controls['editUsername'].touched && form.controls['editUsername'].invalid && form.controls['editUsername'].hasError('invalidCharacters')">
            No se permiten caracteres especiales
        </div>

        <div class="error" *ngIf="errorUser!='exito'">
            {{errorUser}}
        </div>

        <!-- EMAIL -->
        <input type="email" id="email" formControlName="editEmail" placeholder="correo electronico">

        <div class="error"
            *ngIf="this.form.controls['editEmail'].touched && this.form.controls['editEmail'].getError('invalidEmailDomain')">
            Debe ingresar un email válido
        </div>

        <div class="error" *ngIf="errorMail!='exito'">
            {{errorMail}}
        </div>

        <!-- CONTRASEÑA ACTUAL -->
        <div class="password-container">
            <input type="password" id="currentPassword" formControlName="currentPassword"
                placeholder="contraseña actual" [type]="showCurrentPassword ? 'text' : 'password'">
            <i class="fas" (click)="toggleCurrentPasswordVisibility()"
                [ngClass]="showCurrentPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        </div>
        
        <!-- CONTRASEÑA NUEVA -->
        <div class="password-container">
            <input type="password" id="newPassword" formControlName="newPassword" placeholder="nueva contraseña"
            [type]="showNewPassword ? 'text' : 'password'">
            <i class="fas" (click)="toggleNewPasswordVisibility()"
            [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        </div>
        
        <div class="error"
            *ngIf="form.controls['newPassword'].touched && this.form.controls['newPassword'].getError('minlength')">
            Debe contener mínimo de 6 caracteres
        </div>
        <div class="error"
            *ngIf="form.controls['newPassword'].touched && this.form.controls['newPassword'].getError('noNumber')">
            Debe contener al menos un número
        </div>
        <div class="error"
            *ngIf="form.controls['newPassword'].touched && form.controls['newPassword'].invalid && form.controls['newPassword'].hasError('spacesAtEdges')">
            No se permiten espacios 
        </div>
        <div class="error"
            *ngIf="form.controls['newPassword'].touched && form.controls['newPassword'].invalid && form.controls['newPassword'].hasError('invalidCharacters')">
            No se permiten caracteres especiales
        </div>
        
        <div class="error" *ngIf="errorCurrentPassword!='exito'">
            {{errorCurrentPassword}}
        </div>
        

        <button class="btn-editar"> EDITAR </button>

    </form>


</div>