<nav class="barra-S">

    <div class="imagen-nombre-S">
        <a routerLink="/shopping-home">
            <img class="img-flecha" src="../../../../assets/viajeros-img/nav/flecha-viajeros.png" alt="Logo" width="20"
                height="14">
        </a>
        <span>Vocabulario - Vocabulary</span>
    </div>

    <img class="img-s" src="../../../../../../assets/viajeros-img/nav/vocabulario.png" alt="vocabulario">

</nav>


<section class="cuerpo-viajero-S">

    <section class="contenedor-shopping">

        <div class="contenedor-tabla" *ngIf="vocabularioShopping">
            <h2 class="titulo"> Tiendas y lugares </h2>
            <table class="tablaShopping">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-shopping">
                    <tr class="palabras" *ngFor="let palabra of vocabularioShopping['Tiendas y Lugares']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-tabla" *ngIf="vocabularioShopping">
            <h2 class="titulo"> Artículo y Ropa </h2>
            <table class="tablaShopping">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-shopping">
                    <tr class="palabras" *ngFor="let palabra of vocabularioShopping['Artículo y Ropa']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-tabla" *ngIf="vocabularioShopping">
            <h2 class="titulo"> Transacciones y Pago </h2>
            <table class="tablaShopping">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-shopping">
                    <tr class="palabras" *ngFor="let palabra of vocabularioShopping['Transacciones y Pago']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-tabla" *ngIf="vocabularioShopping">
            <h2 class="titulo"> Servicio al Cliente </h2>
            <table class="tablaShopping">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-shopping">
                    <tr class="palabras" *ngFor="let palabra of vocabularioShopping['Servicio al Cliente']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-tabla" *ngIf="vocabularioShopping">
            <h2 class="titulo"> Horarios y Lugares Relacionados </h2>
            <table class="tablaShopping">
                <thead>
                    <tr>
                        <th class="idioma"> INGLÉS </th>
                        <th class="idioma"> ESPAÑOL </th>
                    </tr>
                </thead>
                <tbody id="palabras-shopping">
                    <tr class="palabras" *ngFor="let palabra of vocabularioShopping['Horarios y Lugares Relacionados']">
                        <td>{{ palabra.ingles }}</td>
                        <td>{{ palabra['español'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button routerLink="/shopping-home"> Volver al Shopping </button>

    </section>

</section>