.barra-S {
    background-color: white;
}

.imagen-nombre-S {
    font-size: 25px; /* Tamaño deseado para el texto */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.img-flecha {
    width: 50px; /* Ancho deseado para la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.img-s {
    width: 45px; /* Ancho deseado para la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    position: absolute; /* Posición absoluta */
    right: 0; /* Posicionar en el extremo derecho */
    top: 4%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar verticalmente */
}


@media only screen and (max-width: 768px) {
    .imagen-nombre-S {
       font-size: 20px; /* Ajustar tamaño del texto en dispositivos móviles */
    }

    .img-flecha {
        width: 30px; /* Ancho de la imagen en dispositivos móviles */
        margin-right: 0;
       
    }
    
    .img-s {
        width: 25px; /* Ancho deseado para la imagen */
    }
}


/**/

.cuerpo-viajero-S {
    background-color: #E5B9F1;
}

.contenedor-shopping {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; /* Limitar el ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding-bottom: 3rem;
}

.titulo {
    background-color: #a687af;
   
    margin-bottom: 3rem;
    margin-top: 0;

    padding: 1rem;

    border-radius: 20px;

    font-size: 2.5rem;
    text-align: center;
    font-family:'Public Sans', sans-serif;
    color:white;
    filter: drop-shadow(16px 7px 8px #E5B9F1);
}

.idioma {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-family:'Public Sans', sans-serif;
}

/**/

.contenedor-tabla {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #d1bdd6;

    margin: 1rem 0;
    margin-top: 3rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 5rem;

    border-radius: 20px;
}

.tablaShopping {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tablaShopping td {
    border: 2px solid #ddd;
    padding: 8px;
    font-family:'Public Sans', sans-serif;
}

.tablaShopping th, .tablaShopping td {
    width: 50%; /* Divide el ancho de la tabla en dos columnas iguales */
}

/**/

.palabras {
    font-size: 1.8rem;
    text-align: center;
}

button {
    background-color: #000000a8;
    color: white;
    font-size: 1.6rem;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;

    margin-top: 8rem;
    margin-bottom: 10rem;

    padding: 15px;
    border-radius: 20px;
     
}

button:hover {
    background-color: #171718;
}

button:active {
    background-color: #E5B9F1;
}



