.barra {
    background-color: #C5C6F6;
}

.imagen-nombre {
    display: flex;
    align-items: center;
}

.barra img {
    max-width: 200px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}


/**/

.cuerpo-nivel-intermedio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.opciones {
    display: flex;
    justify-content: space-between; /* Alinea las columnas a los extremos */
    max-width: 800px; /* Ancho máximo del contenedor de opciones */
}

.columna {
    display: flex;
    flex-direction: column; /* Organiza las imágenes en columnas */
    align-items: center;
}


.opciones a{
    /* Efecto de animación al cargar la página */
    opacity: 0;
    animation: fade-in 1s ease-out forwards;

    /**/
    filter: drop-shadow(16px 7px 8px #C5C6F6);
    
}

.columna img{
    margin: 16px; /* Espacio entre las imágenes */
    border-radius: 27px;
}

.opciones .columna .lupa {
    margin-bottom: 30px; /* Agrega un margen inferior de 20px entre cada imagen de lupa */

    max-width: 80px;
    height: auto;
}

.opciones a img {
    max-width: 300px; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

.opciones a img:hover {
    transform: scale(1.1); /* Aplica un efecto de zoom al pasar el cursor sobre las imágenes */
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}