<div class="contenedor-cuadrados">

    <fieldset class="cuadrado">

        <legend>Shopping</legend>
        <section class="img-shopping">
            <img src="../../../../assets/img-viajeros/shopping.png" alt="imagen-shopping">
        </section>

        <a routerLink="/shopping-home">
            <button class="boton-entrar">ENTRAR</button>
        </a>
    </fieldset>

    <fieldset class="cuadrado">

        <legend>Restaurante</legend>
        <section class="img-restaurante">
            <img src="../../../../assets/img-viajeros/restaurant.png" alt="imagen-restaurante">
        </section>

        <a routerLink="/restaurante-home">
            <button class="boton-entrar">ENTRAR</button>
        </a>
    </fieldset>

    <fieldset class="cuadrado">

        <legend>Alojamiento</legend>
        <section class="img-alojamiento">
            <img src="../../../../assets/img-viajeros/alojamiento.png" alt="imagen-alojamiento">
        </section>
        
        <a routerLink="/alojamiento-home">
            <button class="boton-entrar">ENTRAR</button>
        </a>
    </fieldset>

</div>