<nav class="barra-S">

    <div class="imagen-nombre-S">
        <a routerLink="/viajeros/viajeros-home">
            <img class="img-flecha" src="../../../../assets/viajeros-img/nav/flecha-viajeros.png" alt="Logo" width="20"
                height="14">
        </a>
        <span>Shopping</span>
    </div>

    <img class="img-s" src="../../../../assets/viajeros-img/nav/icono-nav-shopping.png" alt="shopping">

</nav>


<section class="contenedor">

    <div class="opciones">

        <a routerLink="/vocabulario-shopping">
            <img src="../../../../assets/viajeros-img/elecciones/shopping/aprende.png" alt="aprende">
        </a>

        <h4>EJERCICIOS MULTIPLE CHOICE</h4>

        <div class="opciones-ejercicios">

            <a routerLink="/multipleChoice-vocabulario-shopping">
                <img src="../../../../assets/viajeros-img/elecciones/shopping/vocabulario.png" alt="vocabulario">
            </a>

            <a routerLink="/multipleChoice-preguntas-shopping">
                <img src="../../../../assets/viajeros-img/elecciones/shopping/preguntas.png" alt="preguntas">
            </a>
            
        </div>

    </div>

</section>