<section class="cuerpo-viajero-S">

    <nav class="barra-S">
        <div class="imagen-nombre-S">
            <a routerLink="/viajeros-home"> <img src="../../../../assets/logoChiquito-viajero.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Shopping</span>
        </div>
    </nav>

    <div class="contenedor-cuadrados">

        <fieldset class="cuadrado">

            <legend>Vocabulario</legend>

            <div class="descripcion"> Apunte teórico de vocabulario específico que te ayudará en tu comunicación</div>

            <a routerLink="/vocabulario-shopping">
                <button class="boton-entrar">ENTRAR</button>
            </a>

        </fieldset>

        <fieldset class="cuadrado">

            <legend>Multiple Choice - Preguntas</legend>
            
            <div class="descripcion"> Ejercicios para practicar preguntas que puedes necesitar para tus interacciones</div>
            
            <a routerLink="/multipleChoice-preguntas-shopping">
                <button class="boton-entrar">ENTRAR</button>
            </a>

        </fieldset>

        <fieldset class="cuadrado">

            <legend>Multiple Choice - Vocabulario</legend>
            <div class="descripcion">Ejercicios para practicar oraciones que puedes necesitar para tu comunicación </div>

            <a routerLink="/multipleChoice-vocabulario-shopping">
                <button class="boton-entrar">ENTRAR</button>
            </a>
        </fieldset>

    </div>

</section>