.barra-S {
    background-color: white;
}

.imagen-nombre-S {
    font-size: 25px; /* Tamaño deseado para el texto */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.img-flecha {
    width: 50px; /* Ancho deseado para la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.img-s {
    width: 45px; /* Ancho deseado para la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    position: absolute; /* Posición absoluta */
    right: 0; /* Posicionar en el extremo derecho */
    top: 4%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar verticalmente */
}

@media only screen and (max-width: 768px) {
    .imagen-nombre-S {
       font-size: 20px; /* Ajustar tamaño del texto en dispositivos móviles */
    }

    .img-flecha {
        width: 30px; /* Ancho de la imagen en dispositivos móviles */
        margin-right: 0;
       
    }
    
    .img-s {
        width: 25px; /* Ancho deseado para la imagen */
    }
}


/**/

.contenedor {
    background-color: #E5B9F1;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.opciones {
    display: flex;
    flex-direction: column; /* Organiza los botones verticalmente */
    align-items: center;
}

.opciones a {
    margin: 15px 0; /* Espacio entre los botones */
}

/* Efecto de animación al cargar la página */
.opciones a {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}

.opciones a img {
    max-width: 550px; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

.opciones a img:hover {
    transform: scale(1.1); /* Aplica un efecto de zoom al pasar el cursor sobre las imágenes */
}

.contenedor .opciones h4{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    filter: drop-shadow(16px 7px 8px #CB83DF);
}


.opciones-ejercicios a img{
    max-width: 250px; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

.opciones-ejercicios a img:hover {
    transform: scale(1.1); /* Aplica un efecto de zoom al pasar el cursor sobre las imágenes */
}

.opciones-ejercicios a{
    margin: 0px 20px;
}



@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .contenedor {
        margin-top: 6rem; /* Ajustar el margen superior */
    }

    .opciones a img {
        max-width: 450px; /* Reducir el ancho máximo en pantallas medianas */
    }

    .opciones-ejercicios a img{
        max-width: 200px;
    }

    .contenedor .opciones h4{
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .contenedor {
        margin-top: 4rem; /* Ajustar el margen superior */
        padding: 0; /* Quitar el padding adicional */
    }

    .opciones a img {
        max-width: 350px; /* Reducir el ancho máximo en pantallas pequeñas */
    }

    .opciones-ejercicios a img{
        max-width: 200px;
    }

    .contenedor .opciones h4{
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .contenedor {
        margin-top: 2rem; /* Ajustar el margen superior */
    }

    .opciones a img {
        max-width: 100%; /* Hacer que las imágenes ocupen todo el ancho del contenedor */
    }

    .opciones-ejercicios a img{
        max-width: 200px;
    }

    .contenedor .opciones h4{
        font-size: 2rem;
    }
}