.imagen-nombre-NB {
    font-size: 25px; /* Tamaño deseado para el texto */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.img-flecha {
    width: 50px; /* Ancho deseado para la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}


@media only screen and (max-width: 768px) {
    .imagen-nombre-NB {
        flex-direction: column;
        align-items: flex-start;
    }

    .img-flecha {
        width: 20px; /* Ancho de la imagen en dispositivos móviles */
        margin-right: 0;
        margin-bottom: 5px; /* Espacio entre la imagen y el texto en dispositivos móviles */
    }
}

/**/

.contenedor-pagina{
    background-color: #AFBDFF;
    padding: 2%;
    width: 100%;
    min-height: 100vh;
}

.reescribir {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado verticalmente */
    justify-content: center;

    margin-top: 5rem;
    font-family: "Public Sans", sans-serif;
}

.formulario {
    width: 100%; /* Cambiado a 80% */
    max-width: 800px; /* Limitar el ancho máximo */

    padding: 10rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
    border-radius: 50px;

    overflow-y: auto;
    background-color: #dae0f8e1;
}

.formulario p {
    margin-bottom: 4rem;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center; /* Centrado */
    font-family: "Public Sans", sans-serif;
}

.formulario input {
    width: 100%;
    font-size: 1.6rem; /* Reducido el tamaño de la fuente */

    padding: 1rem;
}


.formulario label {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    width: 100%;
    display: block;
    text-align: left; /* Centrado */
}

.boton {
    margin: 0 1rem;
    font-family: "Public Sans", sans-serif;

    font-size: 1.6rem;
    font-weight: bold;

    color: #171A1FFF;
    background: #B3B3FDFF;
    background-color: #AFBDFF;

    border: none;
    text-decoration: none;
    border-radius: 1.3rem;

    box-shadow: 0px 2px 10px #a0aad8, 0px 0px 1px #94a5f5;
    opacity: 1;
}

.boton:hover {
    color: #171A1FFF;
    background: rgb(137, 137, 250);
}

    /* Pressed */
.boton:hover:active {
    color: #171A1FFF;
    background: rgb(104, 104, 247);
}

    /* Disabled */
.boton:disabled {
    opacity: 0.4;
}

.botones{
    display: flex; /* Establecer el contenedor como flexbox */
    justify-content: center; /* Centrar los elementos horizontalmente */
    margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
    .formulario p {
        font-size: 1.8rem; /* Reducido el tamaño de la fuente */
    }
}

/** ERRORES */
.error {
    color: #c7000a;
    background-color: #FFBABA;
    padding: .8rem;
    border: .2rem solid #c7000a;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.correcto{
    color: rgb(30, 134, 30);
    background-color: rgb(47, 201, 47);
    padding: .8rem;
    border: .2rem solid rgb(30, 134, 30);
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.coincide{
    color: #965fb6;
    background-color: #B3B3FDFF;
    padding: .8rem;
    border: .2rem solid #965fb6;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
