<section class="contenedor">

    <div class="opciones">
        <a routerLink="/shopping-home">
            <img src="../../../../assets/viajeros-img/elecciones/shopping.png" alt="shopping">
        </a>

        <a routerLink="/restaurante-home">
            <img src="../../../../assets/viajeros-img/elecciones/restaurante.png" alt="restaurante">
        </a>
        
        <a routerLink="/alojamiento-home">
            <img src="../../../../assets/viajeros-img/elecciones/alojamiento.png" alt="alojamiento">
        </a>
       
    </div>

</section>


