.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.opciones {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opciones a {
    margin: 40px 30px;
}

/* Efecto de animación al cargar la página */
.opciones a {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}

.opciones a img {
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.opciones a img:hover {
    transform: scale(1.1);
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Media queries para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .contenedor {
        margin-top: 2rem;
    }

    .opciones {
        flex-direction: column;
    }

    .opciones a {
        margin: 20px 15px;
    }
}