<nav class="barra-A">

    <div class="imagen-nombre-A">
        <a routerLink="/viajeros/viajeros-home">
            <img class="img-flecha" src="../../../../assets/viajeros-img/nav/flecha-viajeros.png" alt="Logo" width="20"
                height="14">
        </a>
        <span>Alojamiento</span>
    </div>

    <img class="img-A" src="../../../../assets/viajeros-img/nav/icono-nav-alojamiento.png" alt="alojamiento">

</nav>

<section class="contenedor">

    <div class="opciones">

        <a routerLink="/vocabulario-alojamiento">
            <img src="../../../../assets/viajeros-img/elecciones/alojamiento/aprende.png" alt="aprende">
        </a>

        <h4>EJERCICIOS MULTIPLE CHOICE</h4>

        <div class="opciones-ejercicios">

            <a routerLink="/multipleChoice-vocabulario-alojamiento">
                <img src="../../../../assets/viajeros-img/elecciones/alojamiento/vocabulario.png" alt="vocabulario">
            </a>

            <a routerLink="/multipleChoice-preguntas-alojamiento">
                <img src="../../../../assets/viajeros-img/elecciones/alojamiento/preguntas.png" alt="preguntas">
            </a>
            
        </div>

    </div>

</section>