.cuerpo-viajero-A {
    /* background-color: #d8dcfc; */
    
    margin: 0;
}

.barra-A {
    background-color: #B3B3FD;
    font-size: 3rem;
    font-family: 'Lexend', sans-serif;
}

img {
    width: auto;
    height: auto;
}

.imagen-nombre-A {
    display: flex;
    align-items: center;
}

/**/

.descripcion {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    font-family:'Manrope', sans-serif;
}

legend {
    background-color: #B3B3FD;
    margin-bottom: 1rem;
    padding: 1.5rem;
    
    font-size: 2rem;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #9c9ce7bd;
    font-family: 'Raleway', sans-serif;
}

.cuadrado {
    margin: 5rem;

    width: 100rem;
    height: 18rem;

    display: flex;
    flex-direction: column;

    background-color: #dcbee8;
    border-style: hidden;
    border-radius: 1rem;
}


.contenedor-cuadrados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadrado a{
    text-decoration: none;
}

.boton-entrar {

    display: flex;

    width: 20%;
    text-align: center;
    justify-content: center;
    

    margin-top: 1rem;
    margin-left: 75rem;
    padding: 1rem;

    border: none;
    font-size: 2rem;
    font-family: 'Lexend', sans-serif;

    background-color: #cda4dd9a;
    border-radius: 1rem;
    transition-duration: 0.5s;
    cursor: pointer;
}

.boton-entrar:hover {
    background-color: #9898f8;
    transform: translateY(-10px);
}