@import url(../../../styles.css);

.contenedor-informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;

    padding-top: 5rem;
    padding-bottom: 15rem;
}

.titulo h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: "Poetsen One", sans-serif;
    color: #5c5d88;
    font-size: 2.5rem;
    
}

.persona1 {
    background-color: #A8AADB;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.288);
    border-radius: 20px;

    padding-left: 2rem;
    padding-right: 2rem;

}

.persona1:hover{
    transform: scale(1.1);
}

.persona1 .nombre {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;

    border-radius: 10px;
    padding: 0rem;

    /*background-color: #b8b9dd;*/
}

.persona2 {
    background-color: #CDAFAF;
    border-radius: 20px;

    padding-left: 2.5rem;
    padding-right: 2.5rem;

    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.288);
}

.persona2:hover{
    transform: scale(1.1);
}

.persona2 .nombre {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;

    border-radius: 10px;
    padding: 0rem;

    /*background-color: #ccb9b9;*/
}

.persona3 {
    background-color: #B58BDB;
    border-radius: 20px;

    padding-left: 2rem;
    padding-right: 2rem;

    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.288);
}

.persona3:hover{
    transform: scale(1.1);
}

.persona3 .nombre {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;

    border-radius: 10px;
    padding: 0rem;

    /*background-color: #bc9ada;*/
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/**/

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.correo img {
    width: 15%;
}

.telefono img {
    width: 15%;
}

.correo {
    display: flex;
    font-size: 1.5rem;
}

.telefono {
    display: flex;
    font-size: 1.5rem;
}

.correo b {
    margin-left: 0.5rem;
    margin-top: 2rem;

    font-family: "Public Sans", sans-serif;
}

.telefono b {
    margin-left: 0.5rem;
    margin-top: 1rem;

    font-family: "Public Sans", sans-serif;
}

a {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Public Sans", sans-serif;

    padding-top: 1rem;
    padding-bottom: 3rem;
}

/**/

@media screen and (max-width: 768px) {

    .titulo h2{
        margin-top: 30rem;
    }

    .contenedor-informacion {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 8rem 2rem;
    }

    .persona1, .persona2, .persona3{
        margin-bottom: 5rem;
    }

    .persona1 .nombre, .persona2 .nombre, .persona3 .nombre {
        font-size: 2.5rem;
    }

    a {
        font-size: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px){

    .titulo h2{
        margin-top: 10rem;
    }

    .contenedor-informacion {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 8rem 2rem;
    }

    .persona1, .persona2, .persona3{
        margin-bottom: 5rem;
    }

    .persona1 .nombre, .persona2 .nombre, .persona3 .nombre {
        font-size: 2.5rem;
    }

    a {
        font-size: 2rem;
    }

}