
.container{
    background-image: url(../../../assets/home-img/fondos/fondo-editar.png);
    background-repeat: no-repeat;
    background-size:cover;
  
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 15rem;
}