
.container{
    background-image: url(../../../assets/img-home/fondoBorroso2.png);
    background-repeat: no-repeat;
    background-size:cover;
  
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 15rem;
}