.contenedor-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    padding-left: 1rem;
    padding-right: 1rem;
    
    box-shadow: 0rem 0rem 5rem 1rem #C5C6F6;

    height: 5rem;
  }

  .logo-chico {
    width: 10%; 
    max-width: 100px; 
   
  }

  .logo-señas {
    width: 10%; 
    max-width: 100px; 
  }

  @media (max-width: 768px) {
    .logo-chico, .logo-señas {
      width: 20%; 
      max-width: 80px; 
    }
  }

