<section class="cuerpo-NB">

    <nav class="barra-NB">
        <div class="imagen-nombre-NB">
            <a routerLink="/nivelBasico-gramatica"> <img src="../../../../assets/logoChiquito-gramatica.png" alt="Logo"
                    width="30" height="24"></a>
            <span>Nivel Básico</span>
        </div>
    </nav>

    <section class="reescribir">
        <form (ngSubmit)="guardarRespuesta()" [formGroup]="answer" class="formulario">
            <p> {{ randomPhrase }} </p>

            <div *ngIf="phraseType != 'afirmativo'">
                <label for="afirmativo"> Afirmativo (+): </label>
                <input type="text" id="afirmativo" formControlName="afirmativo">
            </div>

            <div *ngIf="obtenerCorreccion('afirmativo')">
                <div *ngFor="let correccion of obtenerCorreccion('afirmativo')">
                    <p>{{ correccion.message }} - Reemplazos: {{ correccion.replacements.join(', ') }}</p>
                </div>
            </div>

            <div *ngIf="phraseType != 'negativo'">
                <label for="negativo"> Negativo (-): </label>
                <input type="text" id="negativo" formControlName="negativo">
            </div>

            <div *ngIf="obtenerCorreccion('negativo')">
                <div *ngFor="let correccion of obtenerCorreccion('negativo')">
                    <p>{{ correccion.message }} - Reemplazos: {{ correccion.replacements.join(', ') }}</p>
                </div>
            </div>

            <div *ngIf="phraseType != 'interrogativo'">
                <label for="interrogativo"> Interrogativo (?): </label>
                <input type="text" id="interrogativo" formControlName="interrogativo">
            </div>

            <div *ngIf="obtenerCorreccion('interrogativo')">
                <div *ngFor="let correccion of obtenerCorreccion('interrogativo')">
                    <p>{{ correccion.message }} - Reemplazos: {{ correccion.replacements.join(', ') }}</p>
                </div>
            </div>

            <div class="botones">
                <input class="boton" type="submit" value="Check">

                <input class="boton" type="reset" value="Borrar">

                <input class="boton" type="button" value="Siguiente Ejercicio" (click)="siguienteEjercicio()">
            </div>
        </form>

    </section>
</section>