<section class="cuerpo-nivel-basico">
    <nav class="barra-NB">
        <div class="imagen-nombre-NB">
            <a routerLink="/gramatica-home"> <img src="../../../../assets/logoChiquito-gramatica.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Avanzado: Ejercicios</span>
        </div>
    </nav>
</section>

<div class="container-pagina">
    <div class="container-contenido">
        
        <legend class="title-opcion1">Reescribir</legend>

            <section class="container-opcion1">
                <div class="opcion1">
                    <p class="descripcion">Aquí encontrarás ejercicios donde tendrás que reescribir oraciones en diferentes modos</p>
                </div>
                <a class="btn-entrar" routerLink="#">ENTRAR</a>
            </section>

        <legend class="title-opcion2">Completar</legend>

            <section class="container-opcion2">
                <div class="opcion2">
                    <p class="descripcion">Aquí encontrarás ejercicios donde tendrás que completar la palabra faltante</p>
                </div>
                <a class="btn-entrar" routerLink="#">ENTRAR</a>
            </section>

        <legend class="title-opcion3">Ordenar</legend>

            <section class="container-opcion3">
                <div class="opcion3">
                    <p class="descripcion">Aquí encontrarás ejercicios donde tendrás que reescribir oraciones ordenando sus palabras</p>
                </div>
                <a class="btn-entrar" routerLink="#">ENTRAR</a>
            </section>
    </div>
</div>
