<nav class="barra-NB">
    <div class="imagen-nombre-NB">
        <a routerLink="/basico-home">
            <img class="img-flecha" src="../../../../../assets/gramatica-img/nav/flecha-gramatica.png" alt="Logo" width="20" height="14">
        </a>
        <span> Ordenar las oraciones - Order the sentences </span>
    </div>
</nav>

<section class="cuerpo-NB">

    <div class="contenedor-pagina">

        <section class="ordenar">

            <form class="formulario" (ngSubmit)="guardarRespuesta()" [formGroup]="answer">

                <p> {{ randomPhrase }} </p>

                <div>
                    <label for="ordenar">Reescriba la oración en orden: </label>
                    <input type="text" id="ordenar" formControlName="ordenar" (input)="onInputChange($event)">
                </div>

                <!-- check -->
                <div *ngIf="answer.controls['ordenar'].getError('required') && answer.controls['ordenar'].touched">
                    <p class="error"> El campo es requerido </p>
                </div>

                <!-- coincide -->
                <div *ngIf="(check === true) && (oracionCoincide === false)">
                    <p class="coincide"> La oración no coincide </p>
                </div>

                <!-- errores -->
                <div *ngIf="(check === true) &&  (oracionCoincide === true)">
                    <div *ngIf="correcto === false">
                        <div *ngFor="let correccion of correcciones">
                            <p class="error">{{ correccion.message }} </p>
                        </div>
                    </div>
                </div>

                <!-- correcto -->
                <div *ngIf="(check === true) && (oracionCoincide === true)">
                    <div *ngIf="correcto === true">
                        <p class="correcto">CORRECTO!</p>
                    </div>
                </div>

                <div class="botones">
                    <input class="boton" type="submit" value="Check">
                    <input class="boton" type="reset" value="Reset" (click)="reset()">
                    <input *ngIf="correcto" class="boton" type="button" value="Next sentence"
                        (click)="siguienteEjercicio()">
                </div>
            </form>

        </section>
    </div>
</section>