<section class="cuerpo-viajero-A">

    <nav class="barra-A">
        <div class="imagen-nombre-A">
            <a routerLink="/viajeros-home"> <img src="../../../../assets/logoChiquito-viajero.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Alojamiento</span>
        </div>
    </nav>

    <div class="contenedor-cuadrados">

        <fieldset class="cuadrado">
    
            <legend>Vocabulario</legend>
            
            <div class="descripcion">Aquí vas a encontrar el vocabulario específico que te puede ser útil para desenvolverte</div>
    
            <a routerLink="/vocabulario-alojamiento">
                <button class="boton-entrar" >ENTRAR</button>
            </a>
        </fieldset>

        
    
        <fieldset class="cuadrado">
    
            <legend>Multiple Choice - Preguntas</legend>
            <div class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia eaque eligendi quae, repudiandae consequatur. Repudiandae expedita reiciendis repellat, aliquam dolore praesentium quod, placeat, error qui quo cum cupiditate. Possimus.</div>

    
            <a routerLink="/multipleChoice-preguntas-alojamiento">
                <button class="boton-entrar" >ENTRAR</button>
            </a>
        </fieldset>
    
        <fieldset class="cuadrado">
    
            <legend>Multiple Choice - Vocabulario</legend>
            <div class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia eaque eligendi quae, repudiandae consequatur. Repudiandae expedita reiciendis repellat, aliquam dolore praesentium quod, placeat, error qui quo cum cupiditate. Possimus.</div>
            
            <a routerLink="/multipleChoice-vocabulario-alojamiento">
                <button class="boton-entrar">ENTRAR</button>
            </a>
        </fieldset>
    
    </div>
</section>

