<section class="cuerpo-juego">

    <nav class="barra">
        <div class="imagen-nombre">
            <a href="**"> <img src="../../../../assets/logoChiquito-Juego.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Juegos</span>
        </div>
    </nav>

    <section class="secciones-juego">
        <h4>Bienvenido! jugá con nosotros y aprende inglés de una forma iteractiva!</h4>
    </section>

    <section class="secciones-juego">

        <div class="contenedor-cuadrados">

            <fieldset class="cuadrado">
                <legend>Unir palabras con imagenes</legend>

                <section class="img-presentacion1">
                    <img src="../../../../assets/img-juego/gato.png" alt="imagen-gato">
                    <button class="boton-respuesta1"> CAT </button>
                </section>

                <button class="boton-jugar">JUGAR</button>
            </fieldset>

            <fieldset class="cuadrado">
                <legend>Unir palabras con palabras</legend>

                <section class="presentacion2">
                    <button class="boton-respuesta2"> BED </button>
                    <button class="boton-respuesta3"> CAMA </button>
                </section>

                <button class="boton-jugar">JUGAR</button>
            </fieldset>

            <fieldset class="cuadrado">
                <legend>Unir color con su nombre</legend>
                <section class="img-presentacion3">
                    <img src="../../../../assets/img-juego/rosa.png" alt="imagen-color-rosa">
                    <button class="boton-respuesta4"> PINK </button>
                </section>
                <button class="boton-jugar">JUGAR</button>
            </fieldset>
        </div>

    </section>

</section>