.cuerpo-juego {
    background-color: #d8dcfc;
    margin: 0;
}

.secciones-juego h4 {
    font-size: 2.7rem;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

/*
:root {
    --shadow-color: 240deg 45% 52%;
    --shadow-elevation-low:
        0.2px -0.3px 0.4px hsl(var(--shadow-color) / 0.34),
        0.3px -0.5px 0.7px -1.2px hsl(var(--shadow-color) / 0.34),
        0.7px -1.2px 1.6px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0.2px -0.3px 0.4px hsl(var(--shadow-color) / 0.36),
        0.6px -1px 1.3px -0.8px hsl(var(--shadow-color) / 0.36),
        1.5px -2.4px 3.2px -1.7px hsl(var(--shadow-color) / 0.36),
        3.7px -5.9px 7.8px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
        0.2px -0.3px 0.4px hsl(var(--shadow-color) / 0.34),
        1.1px -1.7px 2.3px -0.4px hsl(var(--shadow-color) / 0.34),
        2px -3.2px 4.2px -0.7px hsl(var(--shadow-color) / 0.34),
        3.3px -5.3px 7px -1.1px hsl(var(--shadow-color) / 0.34),
        5.3px -8.4px 11.2px -1.4px hsl(var(--shadow-color) / 0.34),
        8.3px -13.1px 17.4px -1.8px hsl(var(--shadow-color) / 0.34),
        12.6px -20px 26.6px -2.1px hsl(var(--shadow-color) / 0.34),
        18.6px -29.4px 39.1px -2.5px hsl(var(--shadow-color) / 0.34);
}
*/