.barra {
    background-color: #C5C6F6;
}

.imagen-nombre {
    display: flex;
    align-items: center;
}

.barra img {
    max-width: 200px;
    height: auto;
}

/**/
.cuerpo-nivel-basico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.opciones {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.opciones a {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    filter: drop-shadow(16px 7px 8px #C5C6F6);

}

.columna img {
    margin: 16px;
    border-radius: 27px;
}

.opciones .columna .lupa {
    margin-bottom: 30px;

    max-width: 80px;
    height: auto;
}

.opciones a img {
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.opciones a img:hover {
    transform: scale(1.1);
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}