<nav class="barra">
    <div class="imagen-nombre">
        <a routerLink="/gramaticas/gramatica-home">
            <img src="../../../../assets/gramatica-img/nav/nav-gramatica.png" alt="Logo">
        </a>
    </div>
</nav>

<section class="cuerpo-nivel-basico">

    <div class="opciones">

        <div class="columna">
            <img class="lupa" src="../../../../assets/gramatica-img/eleccion/lupa-completar.png" alt="competar"
                title="Completá con la palabra faltante.">
            <img class="lupa" src="../../../../assets/gramatica-img/eleccion/lupa-odenar.png" alt="ordenar"
                title="Ordená las palabras y formá la oración.">
            <img class="lupa" src="../../../../assets/gramatica-img/eleccion/lupa-reescribir.png" alt="reescribir"
                title="Reescribí la oración dada en los diferentes modos solicitados">
        </div>

        <div class="columna">
            <a routerLink="/completar-ejercicio">
                <img src="../../../../assets/gramatica-img/eleccion/competar.png" alt="completar">
            </a>

            <a routerLink="/ordenar-ejercicio">
                <img src="../../../../assets/gramatica-img/eleccion/ordenar.png" alt="ordenar">
            </a>

            <a routerLink="/reescribir-ejercicio">
                <img src="../../../../assets/gramatica-img/eleccion/reescribir.png" alt="reescribir">
            </a>
        </div>

    </div>

</section>