.imagen-nombre-NC-C {
    font-size: 25px; /* Tamaño deseado para el texto */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.img-flecha {
    width: 50px; /* Ancho deseado para la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}


@media only screen and (max-width: 768px) {
    .imagen-nombre-NC-C {
        flex-direction: column;
        align-items: flex-start;
    }

    .img-flecha {
        width: 20px; /* Ancho de la imagen en dispositivos móviles */
        margin-right: 0;
        margin-bottom: 5px; /* Espacio entre la imagen y el texto en dispositivos móviles */
    }
}

.cuerpoJuego-NC-C {
    background-color: #8D9DE8;
    padding-bottom: 10%;
    margin-bottom: 0;

    display: flex;
}

main{
    width: 760px;
    align-items: center;
}

.section1{
    /*background-color: #DCBEE8FF;*/
    background-color: #cfd2dfa1;
    padding: 3rem;
    border-radius: 8px;
    width: 120rem;
    margin: 5rem 5rem 0rem 5rem;
}


.eleccion
{animation:scale-up-center 0.9s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

.eleccion
{
    border-radius: 10%;
    border-style:none ;
    background-color: #8D9DE8
}

.eleccion:hover
{
    background-color: #d4d5db6b;
    box-shadow:  0rem 0rem 1rem 0.01rem black;
}

.eleccion.clickeado {
    background-color: #8D9DE8;
    box-shadow:  0rem 0rem 1rem 0.01rem black;
}

table{
    margin-left: 3rem;
}


button{
    height: 130px;
    width: 130px;
    font-size: 40px;
    color: black;
}

button:hover{
    cursor: pointer;
}


.section2{
    display: flex;
    flex-direction: column;

    background-color: #cfd2dfa1;
    width: 120rem;
    height: 22rem;

    padding: 2rem 35rem;
    margin-left: 5rem;  
    margin-top: 0;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.estadisticas {
    border: 1px solid black;
    background-color: #8d9ee898;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    /*texto*/
    padding-top: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.mensajeGanador{
    size: 10rem;
}

img{
    width: 100%;
}


.overlay {
    position: fixed;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../../assets/img-juego/serpentinas.gif) repeat;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 1000;
    /* Asegura que la superposición esté en la parte superior */

}

.mensajeGanador {


    font-size: 5rem;
    text-align: center;

    background-color: #feccbc8e;

    padding: 80px;
    border-radius: 15px;

    z-index: 10000;

    animation: scale-up-center 1.5s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}


.mensajeGanador h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 2rem;
    color: rgb(0, 0, 0);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.botonMensaje {

    width: 300px;
    height: 50px;

    background-color: #b4b0d9;
    color: rgb(0, 0, 0);

    font-size: 3rem;

    border: none;
    border-radius: 30px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 18rem;
    margin-bottom: 3rem;


}


.botonMensaje:hover {
    box-shadow: 0rem 0rem 1rem 0.01rem black;
}
  



