<section class="cuerpo-viajero-S">

    <nav class="barra-S">
        <div class="imagen-nombre-S">
            <a routerLink="/viajeros-home"> <img src="../../../../assets/logoChiquito-viajero.png" alt="Logo" width="30"
                    height="24"></a>
            <span>Shopping</span>
        </div>
    </nav>



    <div class="container-pagina">
        <div class="container-contenido">

            <legend class="title-opcion1">Vocabulario</legend>

            <section class="container-opcion1">
                <div class="opcion1">
                    <p class="descripcion">Aquí encontrarás un apunte con vocabulario útil para tu comunicación</p>
                </div>
                <a class="btn-entrar" routerLink="/vocabulario-shopping">ENTRAR</a>
            </section>

            <legend class="title-opcion2">Multiple choice-Vocabulario</legend>

            <section class="container-opcion2">
                <div class="opcion2">
                    <p class="descripcion">Aquí encontrarás ejercicios que te ayudarán en tu comunicación</p>
                </div>
                <a class="btn-entrar" routerLink="/multipleChoice-vocabulario-shopping">ENTRAR</a>
            </section>

            <legend class="title-opcion3">Multiple choice-Preguntas</legend>

            <section class="container-opcion3">
                <div class="opcion3">
                    <p class="descripcion">Aquí encontrarás ejercicios que te ayudarán en tu comunicación</p>
                </div>
                <a class="btn-entrar" routerLink="/multipleChoice-preguntas-shopping">ENTRAR</a>
            </section>

        </div>

    </div>

</section>