.cuerpo-viajero {
    padding-bottom: 10%;
    margin-bottom: 0;
}

.secciones-viajero h4 {
    padding: 2rem;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


