legend {
    background-color: #B3B3FD;
    margin-bottom: 28rem;
    padding: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #9c9ce7bd;
    font-family: 'Raleway', sans-serif;
}

.cuadrado {
    height: 40rem;
    width: 35rem;
    margin: 3rem;
    display: inline-block;
    background-color: #dcbee8;
    border-style: hidden;
}

.img-basico{
    position: absolute;
    top: 29rem;
    left: 15.5rem;
}

.img-intermedio{
    position: absolute;
    top: 29rem;
    left: 56.5rem;
}

.img-avanzado{
    position: absolute;
    top: 29rem;
    left: 96.5rem
}

.contenedor-cuadrados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0 4rem 0;
}

.boton-entrar {
    position: absolute;
    top: 58rem;
    margin-left: 7rem;
    padding: 1rem 5rem;

    border: none;
    font-size: 2.5rem;
    background-color: #b3b3fdad;
    border-radius: 1rem;

    transition-duration: 0.5s;
    cursor: pointer;

    font-family: 'Lexend', sans-serif;
}

.boton-entrar:hover {
    background-color: #9898f8;
    transform: translateY(-10px);
}