<footer>
    <section class="container-fuentes">
        <legend class="title-fuentes">Seguí profundizando tu conocimiento...</legend>

        <ul class="fuentes">

            <div class="secciones">
                <span class="categorias"><b>Diccionarios</b></span>
                <span class="linea"><b>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</b></span>
                <li class="fuente">
                    <a href="https://www.oxfordlearnersdictionaries.com/" target="_blank"> Oxford</a>
                    <a href="https://www.wordreference.com/es/en/translation.asp" target="_blank"> WordReference</a>
                    <a href="https://translate.google.com/?sl=es&tl=en&op=translate&hl=es" target="_blank"> Google</a>
                </li>
            </div>


            <div class="secciones">
                <span class="categorias"><b> Más ejercicios </b></span>
                <span class="linea"><b>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</b></span>
                <li class="fuente">
                    <a href="https://www.cambridgeenglish.org/es/test-your-english/" target="_blank"> Test 1 </a>
                    <a href="https://www.efset.org/es/quick-check/" target="_blank">  Test 2  </a>
                    <a href="https://preply.com/es/test-de-idiomas/ingles" target="_blank">  Test 3  </a>
                </li>
            </div>


            <div class="secciones">

                <span class="categorias"><b>Extras</b></span>
                <span class="linea"><b>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</b></span>
                <li class="fuente">
                    <a href="https://www.youtube.com/c/YouTics/videos" target="_blank">YouTics</a>
                    <a href="https://www.youtube.com/watch?v=IpZ_PWcm3Zc" target="_blank">Tiempos Verbales</a>
                    <a href="https://www.youtube.com/watch?v=o7bb9eMqLPw" target="_blank">Conversación Diaria</a>
                </li>
            </div>


        </ul>

        <span class="enrutamiento">
            <a class="flor1"> ❀ </a>
            <a routerLink="/home"> 🏠︎ </a>
            <a routerLink="/contactanos"> ✆ </a>
            <a class="flor2"> ❀ </a>

            <!-- <a routerLink="/home"> 🏠︎ </a>
            <a routerLink="/contactanos"> ✆ </a> -->

        </span>

    </section>
</footer>