footer {
    background-color: #B3B3FD;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.title-fuentes{
    text-align: center;
    align-items: center;
    font-size: 2rem;
}

.fuente{
    text-align: center;
    align-items: center;
    font-size: 2rem;
    list-style-type: none;
}