<footer>
    <section class="container-fuentes">
        <legend class="title-fuentes">Seguí profundizando tu conocimiento</legend>
        <ul class="fuentes">

            <li class="fuente" >
                <a  href="https://www.oxfordlearnersdictionaries.com/" target="_blank">Diccionario Oxford</a>
            </li>
            <li class="fuente" >
                <a  href="https://www.cambridgeenglish.org/es/test-your-english/" target="_blank">Poné a prueba tu nivel de inglés</a>
            </li>
            <li class="fuente" >
                <a  href="https://www.youtube.com/c/YouTics/videos" target="_blank">Suscribite a YouTics</a>
            </li>
            <li class="fuente" >
                <a  href="https://fontid.co/?qa=image&qa_blobid=16025724193609887661&qa_size=630" target="_blank">Créditos</a>
            </li>

        </ul>
    </section>
</footer>